{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}


<!-- 3 Third Column -->
<h1 class="heading-xlarge">Your benefits</h1>
<h2 class="heading-medium">Summary</h2>
<div class="govuk-box-highlight">
  <h3 class="bold-medium">Total benefit you receive per month</h3>
  <br>
  <div class="total-amount">£575<!--<script>document.write(getCookie(cookieName));</script>--></div>
  <!--<p class="form-lable-bold">
    At the current rate your debt will be <br>
    <span class="heading-medium">paid off by <script>ed()</script>
    </span>
  </p>-->
</div>

<h3 class="heading-medium">Breakdown</h3>
  <table>
    <thead>
      <tr>
        <th scope="col">Benefit</th>
        <th class="numeric" scope="col">Amount</th>
        <th class="numeric" scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Budgeting loan</td>
        <td class="fr">&pound;35 per month</td>
        <td class="fr">Being paid</td>
      </tr>
      <tr>
        <td>ESA</td>
        <td class="fr">&pound;43 per week</td>
        <td class="fr">Being paid</td>
      </tr>
      <tr>
       <td>JSA</td>
        <td class="fr">&pound;67 per week</td>
        <td class="fr">Being paid</td>
      </tr>
      <tr>
       <td>Income support</td>
        <td class="fr">&pound;70 per month</td>
        <td class="fr">You're getting less</td>
      </tr>
      <tr>
       <td>Pip/DLA</td>
        <td class="fr">&pound;30 per month</td>
        <td class="fr">Being paid</td>
      </tr>
    </tbody>
  </table>

  <h3 class="heading-medium">Why you're getting less</h3>
  <p>You received an overpayment and are currently paying back what is owed.</p>
  <a class="button" href="change-your-payments">Change your payments</a>

<!--<p>You're <span class="bold">currently repaying £<script>document.write(parseFloat(regularAmmount).toFixed(2) + " " + getCookie(paymentIntervalCookieName));</script> </span>from benefit.</br>This money is taken directly from your main benefit payment.<br>
<a href="reasons">Change your payments</a>.
</p>

<p>View your <a href="debt_overview1">debt in detail</a>.</p>-->

<!--<div class="panel panel-border-wide alert-default">
      <p class="font-xsmall">On Monday the 5 September you decreased your weekly payments from £10 to £9. This reduction is awaiting approval.</p>
      <p class="font-xsmall">Reductions in payments can take up to XX working days to process.</p>
    </div>-->






{% endblock %}

{% block secondary %}
<!-- 1 Third Column -->
{% endblock %}
