{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}




<h1 class="heading-xlarge">
   Check your benefits
</h1>

<p>Use this service to get information about your benefits, any money that you have been overpaid and how you are paying it back.</p>

<p>With this service you can:</p>

<ul class="list list-bullet">
  <li>view details of your benefits and social fund loans that you’ve received</li>
  <li>view how you’re paying the money back and when your final payment will be</li>
  <li>ask for your payments to be increased or reduced</li>
</ul>

<p>
  <a class="button button-start" href="home" role="button">Start now</a>
</p>

<h2 class="heading-medium">Other ways to check your benefits</h2>

<p>Telephone: 0845 850 0293<br />
Monday to Friday 8am to 8pm, Saturday 9am to 4pm<br />
<a href="">Find out about call charges</a></p>


{% endblock %}

{% block secondary %}


    <!--  <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>-->


{% endblock %}
