{% set page = {
  title: 'index',
  dev: true,
  secondary: false,
  hideSignoutLink: true
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

<h1 class="heading-xlarge">
   Check your benefits
</h1>

<p>With this service you can:</p>

<ul class="list list-bullet">
  <li>view details of the benefits you get and loans you’ve taken out</li>
  <li>view any money you've been overpaid, how you’re paying it back and when your final repayment will be</li>
  <li>ask for your repayments to be increased or reduced</li>
</ul>

<div class="panel panel-border-wide">
  <p>
    You can only use this service if you've got an access code from the Department for Work and Pensions.
  </p>
</div>

<p>
  <a class="button button-start" href="your-details" role="button">Start now</a>
</p>

<h2 class="heading-medium">Other ways to check your benefits</h2>

<p>Telephone: 0345 850 0293<br />
Monday to Friday 8am to 8pm, Saturday 9am to 4pm<br />
<a href="">Find out about call charges</a></p>


{% endblock %}

{% block secondary %}


{% endblock %}
