{% extends "layouts/version_index.html" %}

{% block version_details %}
  <p>Details of changes and things being tested in this iteration/version of the prototype</p>






  <h1 class="heading-medium">To understand current behaviour around balance information and understanding of the concept of changing the deduction amount in the context of an on-benefit repayment journey & whether people would use such service.</h1>

<ul class="list list-bullet">
     <li>What the "your debt" means in the context of the prototype?</li>
    <li>Do they understand that the deductions come out of their benefits?</li>
<li>Why would they change the amount?</li>
<li>What else do people need to know while changing the payments?</li>
<li>Explanation page – what sort of information do people think they need to provide here?</li>

<li>Amended end date after changing the deduction amount – does it play a part in people’s decision making towards the amount the fill in</li>

<li>Minimum payment amount – do people go for minimum amount?</li>
<li>What would they expect to happen next?</li>
<li>Would they expect to be notified & how? </li>
<li>How quickly they expect it to happen? </li>
<li>What information they expect that notification to have?</li>
 
<li>How do people respond to debt breakdown info? </li>
<li>Does it help them to understand why they have a debt?</li>
<li>If not what would help if yes why is it helpful?</li>
<li>What would they do next? WHY?  </li>


</ul>



<p>
	<a href="https://confluence.dwp.gov.uk/display/DDMS/User+Research+Alpha+Plan">Objectives</a>  |  <a href="">Results</a> 

	
</p>


{% endblock %}
