{% extends "layouts/version_index.html" %}

{% block version_details %}
  <p>Details of changes and things being tested in this iteration/version of the prototype</p>






  <h1 class="heading-medium">To explore the usefulness/usability of a potential online service.</h1>

<ul class="list list-bullet">
     <li>XXXX xxxxxx xxxxxx</li>
    <li>XXXX xxxxxx xxxxxx</li>
   <li>XXXX xxxxxx xxxxxx</li>
    <li>XXXX xxxxxx xxxxxx</li>
    <li>XXXX xxxxxx xxxxxx</li>
   <li>XXXX xxxxxx xxxxxx</li>
</ul>



<p>
	<a href="https://confluence.dwp.gov.uk/display/DDMS/User+Research+Alpha+Plan">Objectives</a>  |  <a href="">Results</a> 

	
</p>


{% endblock %}
