// import resources
@import 'prototype/imports';

.alpha{

  &-01, &-02, &-03, &-04, &-05, &-06, &-07, &-08, &-09, &-10, &-11 {
  		.money-ad{
  		margin-bottom: 25px;
  		}

      .fr { text-align: right; }

      .total-amount { font-size: 80px; font-weight: bold; }

      .chart-block {
          clear: both;
          margin-top: 25px;
          margin-bottom: 80px;
      }

      .graph {
          float: left;
          width: 100%;
          margin-top: -2px;
      }

      .graph li {
          position: relative;
          display: block;
          background: #C1DFE4;
          height: 37px;
      }

      .graph li .amount {
          display: block;
          float: left;
          height: 100%;
          background: #28a197;
          line-height: 1.6em;
          color: #fff;
          text-align: right;
          font-size: 1.3em;
          font-weight: 800;
      }

      .graph li .complete-date {
        display: block;
        line-height: 1.8em;
        height: 100%;
        color: #28a197;
        text-align: right;
        font-size: 1.1em;
        font-weight: 800;
      }

      .graph li .amount > * {
          padding-right: 10px;
      }

      li .amount, li .complete-date {
        padding-right: 10px;
      }


      .c-form-input-denote,
      div.panel .c-form-input-denote {
        position: absolute;
        background-color: rgb(222, 224, 226);
        line-height: 1;
        margin: 2px 0px 0px 2px;
        padding: 7px 12px;
        z-index: 0;
      }

      .c-form-input-denote__input {
        margin: 0;
        padding-left: 40px;
        background-color: transparent !important;
        overflow: hidden;
        z-index: 2;
        position: relative;
      }

      .error .c-form-input-denote {
        background-color: $error-colour;
        color: $page-colour;
        padding: 9px 12px;
      }

      .error .c-form-input-denote__input {
        border-width: 4px !important;
      }

		.payment{
			width: 70px;
			}
		.greyb{
			background: $panel-colour;
			color: $text-colour;
		}
		.input-debt{
			width: 25%;
		}
		.alert-default {
		    border-color: #2b8cc4;
		    background-color: #eaf4f9;
		}

		.date-change{
			border-color: #2b8cc4;
		    background-color: #eaf4f9;
			clear: both;
			visibility: visible;
			border-left: 10px solid #2b8cc4;
			padding: 15px;
			margin-top: 15px;
			}

		.off{
			display: none;
		}

		.form-group.border-error{
			border-left: 5px solid $error-colour;
			padding-left: 15px;
			input{
				border: 4px solid $error-colour;
			}
			.off.show-error-message{
				display: block;
				color: $error-colour;
				font-weight: bold;
			}
		}

		.off.date-change{
			display:block;
		}

		.bold{
			font-weight:bold;
		}

		.benefit_list{
			border-top: 1px solid $border-colour;
			position:relative;
			/*width: 100%;*/
			display:none;
			&:after {
			     visibility: hidden;
			     display: block;
			     font-size: 0;
			     content: " ";
			     clear: both;
			     height: 0;
			     }
			.benefit_titles{
				padding: 0px 15px 15px 0px;
				margin: 15px 0px 0px 0px;
			}
			.owed{
				position: absolute;
			    top: 18px;
			    left: 265px;
			    span{
			    	font-weight:bold;
			    }
			}
		}
		.benefit_list.show{
			display:block;
		}
		.benefit_expand{

		    width: 100%;
		    height: 40px;
		    padding-top: 15px;
		    text-align: right;
		    position: absolute;
    		top: 2px;

    		span{
    		padding-right: 20px;
    		}
		}
		.bene_foot{
			border-bottom: 1px solid $border-colour;
			&:after {
			     visibility: hidden;
			     display: block;
			     font-size: 0;
			     content: " ";
			     clear: both;
			     height: 0;
			     }

			     .appeal{
			     padding: 15px 0px 50px 0px;
			     }
		}

    .js-hidden.error-message {
      display: none;
    }

    .error-message {
      display: inline-block;
    }

		.js-benefit_list{
			h3{
			margin-top:0px;
			}
		}

  }
  .signout{
   	color: white;
   	font-size: 16px;
   	font-weight: bold;
   	text-decoration: none;

    display: block;
    float: right;
    padding-top: 3px;
    padding-right: 15px;
  }

  .related {
    border-top: 10px solid #005ea5;
    padding-top: 5px;
    margin-top: 50px;
    }

    .feeback-block{
    margin-top: 50px;

    }

    .login-display{
    font-size: 16px;
    display: block;
    margin-top: 20px;
    }

}

.hide{
	display: none;
}
.clear {
background: aqua;
clear:both;
	&:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
     }

.amount-left{
	font-weight: normal!important;
}
.alpha{
	&-07, &-06{
		.debt-history{
			margin-right: -330px;
		}
	}
}

.column-one-whole{
	padding: 0 15px 0 15px;
}

.alpha {
  &-08, &-09 {
    .whole-border{
    	padding: 30px;
    	margin-bottom: 30px;
    	border: 1px solid #a1acb2;
    }

    .more-info{
      margin-top: 30px;
      width: 66.6%;
    }
    .explination-of-benefits{
      margin-top: 15px;
      margin-top: 15px;
      width: 66.6%;
    }

    .breakdown-item {

      &__title {
        margin-top: 0;
      }

    }

  }

  &-09 {

    .benefit_list {
      display: block;
			h3{
			  margin-top:0px;
			}
    }
  }



}
