// import resources
@import 'prototype/imports';

.alpha{
  
  &-01, &-02, &-03, &-04, &-05, &-06, &-07{
  		.money-ad{
  		margin-bottom: 25px;
  		}

		.payment{
			width: 70px;
			}

		.off.date-change{
			background: rgba($yellow, 0.2);
			clear: both;
			visibility: visible;
			border-left: 5px solid $yellow;
			padding: 15px;
			margin-top: 15px;
			}	

		.off{
			display: none;
		}

		.form-group.border-error{
			border-left: 5px solid $error-colour;
			padding-left: 15px;
			input{
				border: 4px solid $error-colour;
			}
			.off.show-error-message{
				display: block;
				color: $error-colour;
				font-weight: bold;
			}
		}
		.off.date-change{
			display:block;
		}
		.debt-history{
			margin-right: -330px;
		}
		.bold{
			font-weight:bold;
		}

		.benefit_list{
			border-top: 1px solid $border-colour;
			position:relative;
			width: 100%;
			&:after {
			     visibility: hidden;
			     display: block;
			     font-size: 0;
			     content: " ";
			     clear: both;
			     height: 0;
			     }
			.benefit_titles{
				padding: 0px 15px 15px 0px;
				margin: 15px 0px 0px 0px;
			}
			.owed{
				position: absolute;
			    top: 18px;
			    left: 265px;
			    span{
			    	font-weight:bold;
			    }
			}
		}
		.benefit_expand{
			
		    width: 100%;
		    height: 40px;
		    padding-top: 15px;
		    text-align: right;
		    position: absolute;
    		top: 2px;

    		span{
    		padding-right: 20px;
    		}
		}
		.bene_foot{
			border-bottom: 1px solid $border-colour;
			&:after {
			     visibility: hidden;
			     display: block;
			     font-size: 0;
			     content: " ";
			     clear: both;
			     height: 0;
			     }

			     .appeal{
			     padding: 15px 0px 50px 0px;
			     }
		}
			    
  }
  
}

.hide{
	display: none;
}
.clear {
background: aqua;
clear:both;
	&:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
     }



