{% set page = {
  title: 'index',
  dev: true,
  secondary: false,
  primary:{
    col: 'one-whole'
  },
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

<script>

var do_debtAmmount = getCookie(cookieName);

var pct_10 = (do_debtAmmount/10).toFixed(2);
var pct_20 = (do_debtAmmount/5).toFixed(2);
var pct_30 = ((do_debtAmmount/100)*30).toFixed(2);
var pct_40 = ((do_debtAmmount/100)*40).toFixed(2);
var pct_50 = (do_debtAmmount/2).toFixed(2);
var pct_60 = ((do_debtAmmount/100)*60).toFixed(2);
var pct_70 = ((do_debtAmmount/100)*70).toFixed(2);
var pct_80 = ((do_debtAmmount/100)*80).toFixed(2);
var pct_90 = ((do_debtAmmount/100)*90).toFixed(2);


/**alert (""+pct_10 + ", "+
  pct_20 + ", "+
  pct_30 + ", "+
  pct_40 + ", "+
  pct_50 + ", "+
  pct_60 + ", "+
  pct_70 + ", "+
  pct_80 + ", "+
  pct_90 + ", ");**/
  
</script>

<a href="javascript:history.back()" class="link-back">Back</a>



<div class="govuk-box-highlight">
<span class="heading-medium">Total debt still owed</span>
  <h2 class="bold-large">£<script>document.write(getCookie(cookieName));</script> </h2>

  <p class="form-lable-bold">
    At the current rate your debt will be
    <span class="form-lable-bold">paid off by <script>ed()</script>
    </span>
  </p>
</div>

<h2 class="heading-medium">Your debt in detail</h2>

<div class="whole-border benefit_list js-benefit_list"  id="social-fund-over">
    <!-- ////////////// Social Fund ///////////// -->
    <h3 class="heading-medium">Social fund</h3>
    <p class="explination-of-benefits">You would of got a Social fund loan to help pay for essential things like furniture, clothes, moving costs or hire purchase debts. </p>
      <table>
      <tbody>
        <tr>
          <td>Loan - 2 March 2005</td>
          <td class="numeric" scope="col">£<script>document.write(pct_80);</script></td>
        </tr>
        <tr>
          <td>Loan - 29 November 2007 </td>
          <td class="numeric" scope="col">£<script>document.write(pct_70);</script></td>
        </tr>
        <tr>
         <td>Amount still owed</td>
          <td class="numeric" scope="col">£<span class="ammount-left"></span></td>
        </tr>
      </tbody>
      </table>

      <div class="more-info">
        If you think this information is inaccurate contact the social fund for more information on 0345 6036967.
      </div>
  
</div>



<!-- ////////////// ESA ///////////// -->

<div class="whole-border benefit_list js-benefit_list"  id="esa-over">
    <h3 class="heading-medium">ESA</h3>
    <p class="explination-of-benefits">An overpayment was made from 4 April 2012 to 10 August 2012 because you were working full time.</p>
      <table>
      <tbody>
        <tr>
          <td>Overpayment amount</td>
          <td class="numeric" scope="col">£<script>document.write(pct_90);</script></td>
        </tr>
        <tr>
         <td>Amount still owed</td>
          <td class="numeric" scope="col">£<span class="ammount-left"></span></td>
        </tr>
      </tbody>
      </table>

      <div class="more-info">
        If you think this information is inaccurate visit the <a href="https://www.gov.uk/employment-support-allowance/overview">Employment and Support Allowance (ESA)</a> section for more information.
      </div>
  
</div>

 


<!-- ////////////// JSA ///////////// -->

<div class="whole-border benefit_list js-benefit_list"  id="jsa-over">
    <h3 class="heading-medium">JSA</h3>
    <p class="explination-of-benefits">An overpayment was made from 4 April 2012 to 10 August 2012 because you were working full time.</p>
      <table>
      <tbody>
        <tr>
          <td>Overpayment amount</td>
          <td class="numeric" scope="col">£<script>document.write(pct_70);</script></td>
        </tr>
        <tr>
         <td>Amount still owed</td>
          <td class="numeric" scope="col">£<span class="ammount-left"></span></td>
        </tr>
      </tbody>
      </table>

      <div class="more-info">
        If you think this information is inaccurate visit the <a href="https://www.gov.uk/jobseekers-allowance">Jobseeker's Allowance</a> section for more information.
      </div>
  
</div>

             


<!-- ////////////// Income Support  ///////////// -->
<div class="whole-border benefit_list js-benefit_list"  id="is-over">
    <h3 class="heading-medium">Income Support</h3>
    <p class="explination-of-benefits">An overpayment was made from 6 January 2008 to 5 March 2008 because you were working full time.</p>
      <table>
      <tbody>
        <tr>
          <td>Overpayment amount</td>
          <td class="numeric" scope="col">£<script>document.write(pct_70);</script></td>
        </tr>
        <tr>
         <td>Amount still owed</td>
          <td class="numeric" scope="col">£<span class="ammount-left"></span></td>
        </tr>
      </tbody>
      </table>

      <div class="more-info">
       If you think this information is inaccurate visit the <a href="https://www.gov.uk/income-support/overview">Income Support</a> section for more information.
      </div>
  
</div>






<!-- ////////////// Income Support  ///////////// -->
<div class="whole-border benefit_list js-benefit_list"  id="is-over">
    <h3 class="heading-medium">PIP</h3>
    <p class="explination-of-benefits">An overpayment was made from 6 January 2008 to 5 March 2008 because you were working full time.</p>
      <table>
      <tbody>
        <tr>
          <td>Overpayment amount</td>
          <td class="numeric" scope="col">£<script>document.write(pct_60);</script></td>
        </tr>
        <tr>
         <td>Amount still owed</td>
          <td class="numeric" scope="col">£<span class="ammount-left"></span></td>
        </tr>
      </tbody>
      </table>

      <div class="more-info">
       If you think this information is inaccurate visit the <a href="https://www.gov.uk/income-support/overview">Income Support</a> section for more information.
      </div>
  
</div>

<div class="whole-border benefit_list js-benefit_list"  id="pip-over">
    <h3 class="heading-medium">PIP</h3>
    <p class="explination-of-benefits">An overpayment was made from 6 January 2008 to 5 March 2008 because you were working full time.</p>
      <table>
      <tbody>
        <tr>
          <td>Overpayment amount</td>
          <td class="numeric" scope="col">£<script>document.write(pct_60);</script></td>
        </tr>
        <tr>
         <td>Amount still owed</td>
          <td class="numeric" scope="col">£<span class="ammount-left"></span></td>
        </tr>
      </tbody>
      </table>

      <div class="more-info">
         If you think this information is inaccurate visit the <a href="https://www.gov.uk/pip/overview">Personal Independence Payment (PIP)</a> section for more information.
      </div>
  
</div>




  <h2 class="heading-medium">Your current agreement</h2>
  <p>You're <span class="bold">currently repaying £<script>document.write(regularAmmount);</script></span> <script>document.write(getCookie(paymentIntervalCookieName));</script> from benefit.<br>You'll receive notification of any recent changes.
  <p>At this rate your debt will be <span class="bold">paid off by <script>ed()</script></span>.</p>

  <p>Would you like to <a href="reasons">change your payments?</a>    


     <form action="home" method="post">
      <fieldset class="primary-nav form-group">
                      <legend class="visuallyhidden">Form Navigation</legend>

                      <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </fieldset>
              </form>


{% endblock %}



{% block body_end %}
  {{ super() }}
  <script type="text/javascript">

    $(function(){
     
      var overpaidVals = getCookie('overpaid-benefits').split(',');
var per;





      //$('.ammount-left').html(do_debtAmmount / overpaidVals.length);

      if(overpaidVals !== "") {
        $.each(overpaidVals, function(index,item){
          $('#' + item).addClass('show');
        });
      }

      if(overpaidVals.length === 1){

per = [1];
 $.each(overpaidVals, function(index,item){
          $('#' + item + ' .ammount-left').html(do_debtAmmount * per[index]);
        });

}else if(overpaidVals.length === 2){
per = [0.60, 0.40];
  $.each(overpaidVals, function(index,item){
          $('#' + item + ' .ammount-left').html(do_debtAmmount * per[index]);
        });
}else if (overpaidVals.length === 3){
  per = [0.20,0.50,0.30];

  $.each(overpaidVals, function(index,item){
          $('#' + item + ' .ammount-left').html(do_debtAmmount * per[index]);
        });
}
else if (overpaidVals.length === 4){
per = [0.20,0.20,0.30,0.30];
  $.each(overpaidVals, function(index,item){
          $('#' + item + ' .ammount-left').html(do_debtAmmount * per[index]);
        });
}
else if (overpaidVals.length === 5){
per = [0.10,0.20,0.10,0.40,0.20];
  $.each(overpaidVals, function(index,item){
          $('#' + item + ' .ammount-left').html(do_debtAmmount * per[index]);
        });
}
else if (overpaidVals.length === 6){
per = [0.30,0.10,0.10,0.30,0.10,0.10];
  $.each(overpaidVals, function(index,item){
          $('#' + item + ' .ammount-left').html(do_debtAmmount * per[index]);
        });
}
    });
  </script>
{% endblock %}  