{% set page = {
  title: 'index',
  dev: true,
  secondary: false,
  primary:{
    col: 'one-whole'
  },
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

<script>

var do_debtAmmount = getCookie(cookieName);

var pct_10 = (do_debtAmmount/10).toFixed(2);
var pct_20 = (do_debtAmmount/5).toFixed(2);
var pct_30 = ((do_debtAmmount/100)*30).toFixed(2);
var pct_40 = ((do_debtAmmount/100)*40).toFixed(2);
var pct_50 = (do_debtAmmount/2).toFixed(2);
var pct_60 = ((do_debtAmmount/100)*60).toFixed(2);
var pct_70 = ((do_debtAmmount/100)*70).toFixed(2);
var pct_80 = ((do_debtAmmount/100)*80).toFixed(2);
var pct_90 = ((do_debtAmmount/100)*90).toFixed(2);


/**alert (""+pct_10 + ", "+
  pct_20 + ", "+
  pct_30 + ", "+
  pct_40 + ", "+
  pct_50 + ", "+
  pct_60 + ", "+
  pct_70 + ", "+
  pct_80 + ", "+
  pct_90 + ", ");**/
  
</script>

<a href="javascript:history.back()" class="link-back">Back</a>



       <h3 class="heading-large">Your £<script>document.write(do_debtAmmount);</script> debt breakdown</h1></h3>

       <div class="bene_foot">
              <!-- ////////////// Social Fund ///////////// -->
              <div class="benefit_list js-benefit_list" id="social-fund-over">
                  <div class="benefit_titles heading-medium">Social Fund</div>
                  <div class="owed">Amount outstanding £<span class="ammount-left"></span></div>
                  
                  <details>
                      <summary class="benefit_expand">
                        <span>Expand</span>
                      </summary>

                      <div>
                          <table>
                              <thead>
                                <tr>
                                  <th scope="col">Date(s)</th>
                                  <th class="numeric" scope="col">Original debt</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>2/3/2005 - Stockport (Heron house) Jobcenter Plus </td>
                                  <td class="numeric" scope="col">£<script>document.write(pct_80);</script></td>
                                </tr>
                                <tr>
                                 <td>29/10/2007 - Marple Jobcenter Plus</td>
                                  <td class="numeric" scope="col">£<script>document.write(pct_70);</script></td>
                                </tr>
                                <thead>
                                <tr>
                                  <th scope="col">&nbsp;</th>
                                  <th class="numeric" scope="col">Amount outstanding</th>
                                </tr>
                              </thead>
                               <tr>
                                  <td>&nbsp;</td>
                                  <td class="numeric" scope="col">£<span class="ammount-left"></span></td>
                                </tr>

                              </tbody>
                          </table>
                          <div class="appeal">
                          If you think this information is inaccurate contact the social fund for more information on 0345 6036967.
                          </div>
                      </div>

                  </details>

              </div>

              <!-- ////////////// ESA ///////////// -->
              <div class="benefit_list js-benefit_list" id="esa-over">
                  <div class="benefit_titles heading-medium">ESA</div>
                  <div class="owed">Amount outstanding £<span class="ammount-left"></span></div>
                  
                  <details>
                      <summary class="benefit_expand">
                        <span>Expand</span>
                      </summary>

                      <div>
                          <table>
                              <thead>
                                <tr>
                                  <th scope="col">Date(s)</th>
                                  <th class="numeric" scope="col">Reason / Original debt</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>4/4/2012 – 10/8/2012</td>
                                  <td class="numeric" scope="col">A child left household £<script>document.write(pct_90);</script></td>
                                </tr>
                                <tr>
                                 <td>11/8/2012 – 3/3/2013</td>
                                  <td class="numeric" scope="col">A child left household £<script>document.write(pct_20);</script></td>
                                </tr>
                                <thead>
                                <tr>
                                  <th scope="col">&nbsp;</th>
                                  <th class="numeric" scope="col">Amount outstanding</th>
                                </tr>
                              </thead>
                               <tr>
                                  <td>&nbsp;</td>
                                  <td class="numeric" scope="col">£<span class="ammount-left"></span></td>
                                </tr>

                              </tbody>
                          </table>

                          <div class="appeal">
                          If you think this information is inaccurate visit the <a href="https://www.gov.uk/employment-support-allowance/overview">Employment and Support Allowance (ESA)</a> section for more information.
                          </div>
                      </div>

                  </details>
            </div>


              <!-- ////////////// JSA ///////////// -->
              <div class="benefit_list js-benefit_list" id="jsa-over">
                  <div class="benefit_titles heading-medium">JSA</div>
                  <div class="owed">Amount outstanding £<span class="ammount-left"></span></div>
                  
                  <details>
                      <summary class="benefit_expand">
                        <span>Expand</span>
                      </summary>

                      <div>
                          <table>
                              <thead>
                                <tr>
                                  <th scope="col">Date(s)</th>
                                  <th class="numeric" scope="col">Reason / Original debt</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>4/4/2012 – 10/8/2012</td>
                                  <td class="numeric" scope="col">A child left household £<script>document.write(pct_70);</script></td>
                                </tr>
                                <tr>
                                 <td>11/8/2012 – 3/3/2013</td>
                                  <td class="numeric" scope="col">A child left household £<script>document.write(pct_70);</script></td>
                                </tr>
                                <thead>
                                <tr>
                                  <th scope="col">&nbsp;</th>
                                  <th class="numeric" scope="col">Amount outstanding</th>
                                </tr>
                              </thead>
                               <tr>
                                  <td>&nbsp;</td>
                                  <td class="numeric" scope="col">£<span class="ammount-left"></span></td>
                                </tr>

                              </tbody>
                          </table>

                          <div class="appeal">
                          If you think this information is inaccurate visit the <a href="https://www.gov.uk/jobseekers-allowance">Jobseeker's Allowance</a> section for more information.
                          </div>
                      </div>

                  </details>
            </div>


              <!-- ////////////// Income Support ///////////// -->
              <div class="benefit_list js-benefit_list" id="is-over">
                  <div class="benefit_titles heading-medium">Income support </div>
                  <div class="owed">Amount outstanding £<span class="ammount-left"></span></div>
                  
                  <details>
                      <summary class="benefit_expand">
                        <span>Expand</span>
                      </summary>

                      <div>
                          <table>
                              <thead>
                                <tr>
                                  <th scope="col">Date(s)</th>
                                  <th class="numeric" scope="col">Reason / Original debt</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1/10/2007 – 5/1/2008</td>
                                  <td class="numeric" scope="col">A change in the level of earnings £<script>document.write(pct_90);</script></td>
                                </tr>
                                <tr>
                                 <td>6/1/2008 – 5/5/2008</td>
                                  <td class="numeric" scope="col">A change in the level of earnings £<script>document.write(pct_30);</script></td>
                                </tr>
                                <thead>
                                <tr>
                                  <th scope="col">&nbsp;</th>
                                  <th class="numeric" scope="col">Amount outstanding</th>
                                </tr>
                              </thead>
                               <tr>
                                  <td>&nbsp;</td>
                                  <td class="numeric" scope="col">£<span class="ammount-left"></span></td>
                                </tr>

                              </tbody>
                          </table>
                          <div class="appeal">
                          If you think this information is inaccurate visit the <a href="https://www.gov.uk/income-support/overview">Income Support</a> section for more information.
                          </div>
                      </div>

                  </details>

                 </div>

                 <!-- ////////////// PIP / DLA ///////////// -->

                 <!-- ////////////// PIP ///////////// -->
              <div class="benefit_list js-benefit_list" id="pip-over">
                  <div class="benefit_titles heading-medium">PIP</div>
                  <div class="owed">Amount outstanding £<span class="ammount-left"></span></div>
                  
                  <details>
                      <summary class="benefit_expand">
                        <span>Expand</span>
                      </summary>

                      <div>
                          <table>
                              <thead>
                                <tr>
                                  <th scope="col">Date(s)</th>
                                  <th class="numeric" scope="col">Reason / Original debt</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1/10/2007 – 5/1/2008</td>
                                  <td class="numeric" scope="col">A change in the level of earnings £<script>document.write(pct_70);</script></td>
                                </tr>
                                <tr>
                                 <td>6/1/2008 – 5/5/2008</td>
                                  <td class="numeric" scope="col">A change in the level of earnings £<script>document.write(pct_60);</script></td>
                                </tr>
                                <thead>
                                <tr>
                                  <th scope="col">&nbsp;</th>
                                  <th class="numeric" scope="col">Amount outstanding</th>
                                </tr>
                              </thead>
                               <tr>
                                  <td>&nbsp;</td>
                                  <td class="numeric" scope="col">£<span class="ammount-left"></span></td>
                                </tr>

                              </tbody>
                          </table>
                          <div class="appeal">
                          If you think this information is inaccurate visit the <a href="https://www.gov.uk/pip/overview">Personal Independence Payment (PIP)</a> section for more information.
                          </div>
                      </div>

                  </details>

                 </div>

    


  <h2 class="heading-medium">Your current agreement</h2>
  <p>You're <span class="bold">currently repaying £<script>document.write(regularAmmount);</script></span> <script>document.write(getCookie(paymentIntervalCookieName));</script> from benefit.<br>You'll receive notification of any recent changes.
  <p>At this rate your debt will be <span class="bold">paid off by <script>ed()</script></span>.</p>

  <p>Would you like to <a href="reasons">change your payments?</a>    






     <form action="index" method="post">
      <fieldset class="primary-nav form-group">
                      <legend class="visuallyhidden">Form Navigation</legend>

                      <input type="submit" value="Go to the debt homepage" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </fieldset>
              </form>


{% endblock %}



{% block body_end %}
  {{ super() }}
  <script type="text/javascript">

    $(function(){
     
      var overpaidVals = getCookie('overpaid-benefits').split(',');
var per;





      //$('.ammount-left').html(do_debtAmmount / overpaidVals.length);

      if(overpaidVals !== "") {
        $.each(overpaidVals, function(index,item){
          $('#' + item).addClass('show');
        });
      }

      if(overpaidVals.length === 1){

per = [1];
 $.each(overpaidVals, function(index,item){
          $('#' + item + ' .ammount-left').html(do_debtAmmount * per[index]);
        });

}else if(overpaidVals.length === 2){
per = [0.60, 0.40];
  $.each(overpaidVals, function(index,item){
          $('#' + item + ' .ammount-left').html(do_debtAmmount * per[index]);
        });
}else if (overpaidVals.length === 3){
  per = [0.20,0.50,0.30];

  $.each(overpaidVals, function(index,item){
          $('#' + item + ' .ammount-left').html(do_debtAmmount * per[index]);
        });
}
else if (overpaidVals.length === 4){
per = [0.20,0.20,0.30,0.30];
  $.each(overpaidVals, function(index,item){
          $('#' + item + ' .ammount-left').html(do_debtAmmount * per[index]);
        });
}
else if (overpaidVals.length === 5){
per = [0.10,0.20,0.10,0.40,0.20];
  $.each(overpaidVals, function(index,item){
          $('#' + item + ' .ammount-left').html(do_debtAmmount * per[index]);
        });
}
else if (overpaidVals.length === 6){
per = [0.30,0.10,0.10,0.30,0.10,0.10];
  $.each(overpaidVals, function(index,item){
          $('#' + item + ' .ammount-left').html(do_debtAmmount * per[index]);
        });
}
    });
  </script>
{% endblock %}  