{% set page = {
  title: 'index',
  dev: true,
  secondary: false
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

  <a href="javascript:history.back()" class="link-back">Back</a>
  <!-- 3 Third Column -->
  <h1 class="heading-xlarge">Change your repayments</h1>
  <p>You need to pay back &pound;{{ session.debt_amount }} of your Income Support. Your Income Support is currently reduced by £{{ session.payment_amount }} every 2 weeks.</p>
  <div class="chart-block">
    <div class="graph-title">You'll have paid this money back by {{ session | calculateEndDate }}.</div>
  </div>

  <h3 class="heading-medium">Enter amount</h3>
  <form method="post" action="process_payment_change">
  <div class="form-group">
    <span class="c-form-input-denote">£</span>
    <input id="total01" class="form-control c-form-input-denote__input form-control-1-4" name="payment_amount" type='number' step='0.01'>
  </div>

  <button type="submit" class="button">Continue</button>
  </form>

{% endblock %}
