{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
<a href="javascript:history.back()" class="link-back">Back</a>

  <h1 class="heading-xlarge">Do you have any other household income?</h1>

  <form>
    <div class="form-group">
      <fieldset>

        <label class="block-label" data-target="contact-by-text" for="example-contact-by-text">
          <input id="example-contact-by-text" type="radio" name="checkbox-contact-group" value="No">
          Yes
        </label>
        <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
          <label class="form-label" for="contact-text-message">How much a month?</label>
          <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
        </div>


        <label class="block-label" data-target="contact-by-email" for="example-contact-by-email">
          <input id="example-contact-by-email" type="radio" name="checkbox-contact-group" value="Yes">
          No
        </label>
        <!--<div class="panel panel-border-narrow js-hidden" id="contact-by-email">
          <label class="form-label" for="contact-email">Email address</label>
          <input class="form-control" name="contact-email" type="text" id="contact-email">
        </div>-->


    </fieldset>
    </div>
  </form>












    <!--<fieldset>
      <legend class="visuallyhidden">These details will only be used if we need more information.</legend>
      <div class="form-group">
        <label class="form-label" for="mobile">Preferred telephone number</label>
        <input class="form-control" name="mobile" type="text" id="mobile">
        <p></p>
        <label class="form-label" for="email-address">Email address</label>
        <input class="form-control" name="email-address" type="text" id="email-address">
      </div>
    </fieldset>-->

    <!--<fieldset class="primary-nav form-group">
      <legend class="visuallyhidden">Form Navigation</legend>
      <input type="submit" value="Send request" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </fieldset>-->
    <a class="button" href="hardship-savings">Continue</a>




{% endblock %}

{% block secondary %}


<!-- 1 Third Column -->
{% endblock %}
