{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

<!-- 3 Third Column -->
<h1 class="heading-xlarge">Benefits you're paying back</h1>
<!--<h2 class="heading-medium">Summary</h2>-->
<div class="govuk-box-highlight">
  <h2 class="bold-medium">Total you need to repay</h2>
  <br>
  <div class="total-amount">£{{ session.debt_amount }}</div>
</div>

<h3 class="heading-medium">Paying back now</h3>
  <table>
    <thead>
      <tr>
        <th>Benefit</th>
        <th>Amount</th>
        <th>Final repayment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td>Income Support</td>
        <td>&pound;17 every 2 weeks</td>
        <td>7 March 2017</td>
      </tr>
    </tbody>
  </table>
  <br />

  <div class="panel panel-border-narrow">
    <h4 class="heading-small">Why you're repaying this money</h3>
    <p>You started working on 10 June 2016. This means you're entitled to less Income Support.</p>
    <p>You didn't report the change until 29 September 2016, which means you were paid £350 too much. Your benefit has been reduced to pay this back.</p>
  </div>

<br /><br />
  <h4 class="heading-small">Paying back later</h3>
    <table>
      <thead>
        <tr>
          <th>Benefit</th>
          <th>What you owe</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Personal Independence Payment</td>
          <td>&pound;200</td>
        </tr>
      </tbody>
    </table>

<br /><br />

<div>
   <a class="button" href="change-your-payments">Change your repayments</a>
</div>



{% endblock %}

{% block secondary %}
<!-- 1 Third Column -->
{% endblock %}
