{% set page = {
  title: 'Overview',
  dev: true,
  secondary: false,
  html_classes: ['page-class'],
  hideSignoutLink: true
} %}

{% extends page.layout | d(prototype.current.layout) %}


{% block primary %}

<h1 class="heading-xlarge">
   Manage your benefit repayments
</h1>

<p>You can use this service to:</p>

<ul class="list list-bullet">
  <li>get details of benefits you have to pay back</li>
  <li>understand how you're paying the money back</li>
  <li>ask for repayments to be changed to suit your financial circumstances (you'll need to give details of your income, savings and any outstanding debt)</li>
</ul>

<div class="panel panel-border-wide">
  <p>
    You can only use this service if you've been given a username and password from Department for Work and Pensions.
  </p>
</div>

<p>
  <a class="button button-start" href="start_session" role="button">Start now</a>
</p>

<h2 class="heading-medium">Other ways to manage repayments</h2>

<p>You can get information and manage your repayments by phone:</p>

<p>Telephone: 0845 850 0293<br />
Monday to Friday 8am to 8pm, Saturday 9am to 4pm<br />
<a href="">Find out about call charges</a></p>

{% endblock %}
