{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
<a href="javascript:history.back()" class="link-back">Back</a>

<!-- 3 Third Column -->
<h1 class="heading-xlarge">Call DWP to complete your request</h1>

<div class="contact">
<strong><abbr title="Department for Work and Pensions">DWP</abbr> Debt Management contact centre</strong><br/>
Telephone: 0345 850 0293<br/>
Textphone: 0345 604 6697<br/>
Calling from abroad: +44 (0)161 904 1233 <br/>
Monday to Friday, 8am to 8pm <br/>
Saturday, 9am to 4pm<br/>
<a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
</div>

<!--<div class="chart-block">
  <div class="graph-title">You'll have paid this money back by 20 March 2017.</div>
  <div class="graph">
    <li>
      <div class="amount" style="width: 56%;"></div><div class="complete-date">20 March 2017</div>
    </li>
  </div>
</div>-->

<!--<p>You're <span class="bold">currently repaying £<script>document.write(parseFloat(regularAmmount).toFixed(2) + " " + getCookie(paymentIntervalCookieName));</script> </span>from benefit.</br>This money is taken directly from your main benefit payment.<br>
<a href="reasons">Change your payments</a>.
</p>

<p>View your <a href="debt_overview1">debt in detail</a>.</p>-->

<!--<div class="panel panel-border-wide alert-default">
      <p class="font-xsmall">On Monday the 5 September you decreased your weekly payments from £10 to £9. This reduction is awaiting approval.</p>
      <p class="font-xsmall">Reductions in payments can take up to XX working days to process.</p>
    </div>-->






{% endblock %}

{% block secondary %}
<!-- 1 Third Column -->
{% endblock %}
