{% set page = {
  title: 'index',
  dev: true,
  secondary: false,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
<a href="javascript:history.back()" class="link-back">Back</a>

  <h1 class="heading-xlarge">Do you want to increase or reduce your repayments?</h1>

  <form action="change_payment" autocomplete="off" method="post">
    <fieldset class="">
      <legend class="visuallyhidden">Do you want to increase or reduce your repayments?</legend>

      <div class="form-group">

        <label class="block-label" for="increase_input">
          <input id="increase_input" type="radio" name="change_choice" value="increase">
          Increase repayments
        </label>

        <label class="block-label" for="reduce_input">
          <input id="reduce_input" type="radio" name="change_choice" value="decrease">
          Reduce repayments
        </label>

      </div>

    <fieldset class="primary-nav form-group">
      <legend class="visuallyhidden">Form Navigation</legend>
      <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </fieldset>

  </form>

{% endblock %}
