{% set page = {
  title: 'Set a new password',
  dev: true,
  secondary: false,
  hideSignoutLink: true
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

  <a href="javascript:history.back()" class="link-back">Back</a>

  <h1 class="heading-xlarge">Set your own password</h1>
  
  <p>Your username is: <strong class="bold-small">{{ session.username if session.username != "" else 'Username' }}</strong> this will stay the same.</p>

  <form method="post" action="setpassword_confirm">

    <div class="form-group">
      <p>To keep your information safe, please enter a new password in the boxes below. This is so that only you can access the details of your payments.</p>
    </div>
    
    <div class="form-group">
      <label class="form-label-bold" for="password">Password</label>
      <input class="form-control" id="password" type="text" name="password">
    </div>
    
    <div class="form-group">
      <label class="form-label-bold" for="password_confirm">Confirm password</label>
      <input class="form-control" id="password_confirm" type="text" name="password_confirm">
    </div>

    <button type="submit" class="button">Set your new password</button>

  </form>

{% endblock %}
