{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}


<!-- 3 Third Column -->
<!--<h1 class="heading-xlarge">Your DWP debt</h1>-->

<div class="govuk-box-highlight">

  <h2 class="bold-large">Your DWP debt today</h2>
  <br>
  <strong class="heading-xlarge">£<script>document.write(getCookie(cookieName));</script>.00</strong>
  <!--  <br><br>
 <p>The debt was £800.00</p>-->
</div>

<h3 class="heading-medium">How you're paying us back</h3>
<p>You're currently repaying £20.00 from benefit.</br>This money is taken directly from your regular benefit payments.</p>
I would like to <a href="how_often">change my payments</a>

<h3 class="heading-medium">What this debt is for</h3>
<p>You may have this debt for various reasons.</p>
I would like to <a href="debt_overview">view the debt</a>


<h3 class="heading-medium">When you'll have paid this back</h3>
<p>At this rate your debt will be paid off by 1 January 2017.</p>




<!--
<form action="{{ proto.path }}/working" method="post">
<h3 class="heading-medium">I would like to reduce my payments</h3>

 <fieldset class="primary-nav form-group">
      <legend class="visuallyhidden">Form Navigation</legend>
      <input type="submit" value="Reduce my payments" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </fieldset>
 </form>
-->






{% endblock %}

{% block secondary %}
<!-- 1 Third Column -->
{% endblock %}
