{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
<a href="javascript:history.back()" class="link-back">Back</a>

  <h1 class="heading-large">You are currently paying £20.00 a fortnight.</h1>

            <form action="contact" autocomplete="off" method="post">
                <fieldset class="">
           <legend class="visuallyhidden">You are currently paying £20.00 a fortnight.</legend>

              <script>
                  var totalDebt = totalOutstanding; ///////// Total Debt /////////////
           
                  var minRepaymentAmmount = 7.40; ///////// Min Payment /////////////
              </script>
             
              <div id="reduce-error" class="form-group"><!-- border-error -->
                <label class="form-label-bold" for="example-form-label-bold">
                  Enter new proposed amount in (£)
                  <span class="form-hint">
                    Minimum fortnightly amount £7.40
                  </span>
                  <span class="off show-error-message">Minimum payment cannot be lower than £7.40</span>
                </label>
                <input class="form-control payment" id="value-adjust-1" type="text">

                <div id="paid-off" class="off"><!-- date-change -->Based on the amount you entered your debt will be paid off by: <br /> 
                <span id="payed-by"><script>ed()</script></span>.
                </div>
              </div>
             


                </fieldset>

                   <fieldset class="primary-nav form-group">
                      <legend class="visuallyhidden">Form Navigation</legend>
                      <input type="submit" value="Submit amount" class="button" id="submitButton-rv" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </fieldset>
              </form>






{% endblock %}
