{% extends "layouts/version_index.html" %}

{% block version_details %}
  <p>Details of changes and things being tested in this iteration/version of the prototype</p>


  <h1 class="heading-medium">To explore understanding and behaviours surround these letters</h1>


<ul class="panel panel-border-narrow">
	     <li><a href="https://shielded-journey-99247.herokuapp.com/public/letters/letter-overpayment-repayment-a2.pdf">Changes to your benefit (letter)</a> <br>Informing the customer of outstanding debts</li>
</ul>

<ul class="list list-contents">

 		<li>Does the letter make sense?</li>
 		<li>What behaviour does the letter drive for on benefit customers?</li>

</ul>
<p>
	<a href="https://confluence.dwp.gov.uk/display/DDMS/User+Research+Alpha+Plan">Objectives</a>  |  <a href="https://confluence.dwp.gov.uk/pages/viewpage.action?pageId=101996519">Results</a> 

	
</p>





  <h1 class="heading-medium">To explore the usefulness/usability of a potential online service.</h1>

<ul class="list list-contents">
     <li>What would people call the service</li>
     <li>Do people understand the information provided</li>
     <li>What information do people expect to see</li>
     <li>What behaviour does it drive – what would people do one they have used or are using the on line service?</li>
</ul>



<p>
	<a href="https://confluence.dwp.gov.uk/display/DDMS/User+Research+Alpha+Plan">Objectives</a>  |  <a href="https://confluence.dwp.gov.uk/pages/viewpage.action?pageId=101996519">Results</a> 

	
</p>


<p>	
	<a class="button" href="https://shielded-journey-99247.herokuapp.com/alpha-sprint-02/debtOverview" role="button">Launch Alpha 01</a>
</p>


<div class="hide">
{% endblock %}
</div>