{% set page = {
  title: 'Password changed successful',
  dev: true,
  secondary: false,
  hideSignoutLink: false
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

  <a href="javascript:history.back()" class="link-back">Back</a>

  <h1 class="heading-xlarge">Password has been changed</h1>

  <p>You've successfully changed your password.</p>

  <form method="post" action="home">

    <button type="submit" class="button">Continue</button>

  </form>

{% endblock %}
