{% set page = {
  title: 'index',
  dev: true,
  secondary: false,
  html_classes: ['page-class'],
  primary: {
    col: 'one-whole'
  }
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

<a href="javascript:history.back()" class="link-back">Back</a>

<div class="govuk-box-highlight">
  <span class="heading-medium">You owe &pound;{{ session.debt_amount }}</span>


  <p class="form-lable-bold">
    You'll have <span class="form-lable-bold">paid this back by {{ session | calculateEndDate }}
    </span> based on what you're currently repaying.
  </p>

</div>

<!--<h3 class="heading-large">Your &pound;{{ session.debt_amount }} debt breakdown</h3>-->
<h2 class="heading-medium">The money you owe</h2>

<div class="panel panel-border-wide">
   Details of any Social Fund, Crisis or Budgeting Loans are not included here.
</div>

  {% for thisDebt in session.debt_reason %}





    <div class="whole-border breakdown-item">

      {% if thisDebt == 'social-fund' %}

        <h3 class="heading-medium breakdown-item__title">Budgeting Loans</h3>

        <p class="explination-of-benefits">You would of got a Social fund loan to help pay for essential things like furniture, clothes, moving costs or hire purchase debts. </p>
        <table>
          <tbody>
            <tr>
              <td>Loan - 2 March 2005</td>
              <td class="numeric" scope="col">
                &pound;{{ session.debt_amount | pct(76) }}
              </td>
            </tr>
            <tr>
              <td>Loan - 29 November 2007 </td>
              <td class="numeric" scope="col">
                &pound;{{ session.debt_amount | pct(50) }}
              </td>
            </tr>
            <tr>
             <td>Amount still owed</td>
              <td class="numeric" scope="col">
                &pound;{{ session.debt_amount | toPercentageValue(loop.length,loop.index) }}
              </td>
            </tr>
          </tbody>
        </table>

        <div class="more-info">
          If you think this information is inaccurate contact the Budgeting Loans for more information on 0345 6036967.
        </div>

      {% endif %}

      {% if thisDebt == 'esa' %}

        <h3 class="heading-medium breakdown-item__title">ESA</h3>

        <p class="explination-of-benefits">An overpayment was made from 4 April 2012 to 10 August 2012 because you were working full time.</p>

        <table>
          <tbody>
            <tr>
              <td>Overpayment amount</td>
              <td class="numeric" scope="col">
                &pound;{{ session.debt_amount | pct(60) }}
              </td>
            </tr>
            <tr>
              <td>Amount still owed</td>
              <td class="numeric" scope="col">
                &pound;{{ session.debt_amount | toPercentageValue(loop.length,loop.index) }}
              </td>
            </tr>
          </tbody>
        </table>

        <div class="more-info">
        If you think this information is inaccurate visit the <a href="https://www.gov.uk/employment-support-allowance/overview">Employment and Support Allowance (ESA)</a> section for more information.
        </div>

      {% endif %}

      {% if thisDebt == 'jsa' %}

        <h3 class="heading-medium breakdown-item__title ">JSA</h3>
        <p class="explination-of-benefits">An overpayment was made from 4 April 2012 to 10 August 2012 because you were working full time.</p>
        <table>
          <tbody>
            <tr>
              <td>Overpayment amount</td>
              <td class="numeric" scope="col">&pound;{{ session.debt_amount | pct(70) }}</td>
            </tr>
            <tr>
              <td>Amount still owed</td>
              <td class="numeric" scope="col">
                &pound;{{ session.debt_amount | toPercentageValue(loop.length,loop.index) }}
              </td>
            </tr>
          </tbody>
        </table>

        <div class="more-info">If you think this information is inaccurate visit the <a href="https://www.gov.uk/jobseekers-allowance">Jobseeker's Allowance</a> section for more information.</div>

      {% endif %}

      {% if thisDebt == 'is' %}
        <h3 class="heading-medium breakdown-item__title">Income Support</h3>
        <p class="explination-of-benefits">An overpayment was made from 6 January 2008 to 5 March 2008 because you were working full time.</p>
          <table>
          <tbody>
            <tr>
              <td>Overpayment amount</td>
              <td class="numeric" scope="col">
                &pound;{{ session.debt_amount | pct(70) }}
              </td>
            </tr>
            <tr>
              <td>Amount still owed</td>
              <td class="numeric" scope="col">
                &pound;{{ session.debt_amount | toPercentageValue(loop.length,loop.index) }}
              </td>
            </tr>
          </tbody>
          </table>

          <div class="more-info">
           If you think this information is inaccurate visit the <a href="https://www.gov.uk/income-support/overview">Income Support</a> section for more information.
          </div>
      {% endif %}

      {% if thisDebt == 'pip' %}

        <h3 class="heading-medium breakdown-item__title">PIP</h3>
        <p class="explination-of-benefits">An overpayment was made from 6 January 2008 to 5 March 2008 because you were working full time.</p>
          <table>
          <tbody>
            <tr>
              <td>Overpayment amount</td>
              <td class="numeric" scope="col">
                &pound;{{ session.debt_amount | pct(60) }}
              </td>
            </tr>
            <tr>
             <td>Amount still owed</td>
              <td class="numeric" scope="col">
                &pound;{{ session.debt_amount | toPercentageValue(loop.length,loop.index) }}
              </td>
            </tr>
          </tbody>
          </table>

          <div class="more-info">
             If you think this information is inaccurate visit the <a href="https://www.gov.uk/pip/overview">Personal Independence Payment (PIP)</a> section for more information.
          </div>

      {% endif %}

    </div>
    {# / whole-border #}

  {% endfor %}

  <h2 class="heading-medium">Your current agreement</h2>
  <p>You're <span class="bold">currently repaying &pound;{{ session.payment_amount }}</span> {{ session.payment_frequency }} from benefit.<br>You'll receive notification of any recent changes.
  <p>At this rate your debt will be <span class="bold">paid off by {{ session | calculateEndDate }}</span>.</p>

  <p>Would you like to <a href="reasons">change your payments?</a>

  <form action="home" method="post">
    <fieldset class="primary-nav form-group">
    <legend class="visuallyhidden">Form Navigation</legend>
    <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </fieldset>
  </form>

{% endblock %}
