{% set page = {
  title: 'index',
  dev: true,
  secondary: false,
  html_classes: ['page-class'],
  primary: {
    col: 'one-whole'
  }
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

<a href="javascript:history.back()" class="link-back">Back</a>

<h3 class="heading-large">Your &pound;{{ session.debt_ammount }} debt breakdown</h3>
  
  <div class="bene_foot">
  
  {% for thisDebt in session.debt_reason %}
    
      {% if thisDebt == 'social-fund' %}
      
        <div class="benefit_list js-benefit_list">
            <div class="benefit_titles heading-medium">Social Fund</div>
            <div class="owed">Amount outstanding &pound;{{ session.debt_ammount | toPercentageValue(loop.length,loop.index) }}</div>
            
            <details>
                <summary class="benefit_expand">
                  <span>Expand</span>
                </summary>

                <div>
                    <table>
                        <thead>
                          <tr>
                            <th scope="col">Date(s)</th>
                            <th class="numeric" scope="col">Original debt</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>2/3/2005 - Stockport (Heron house) Jobcenter Plus </td>
                            <td class="numeric" scope="col">&pound;{{ session.debt_ammount | pct(80) }}</td>
                          </tr>
                          <tr>
                           <td>29/10/2007 - Marple Jobcenter Plus</td>
                            <td class="numeric" scope="col">&pound;{{ session.debt_ammount | pct(70) }}</td>
                          </tr>
                          <thead>
                          <tr>
                            <th scope="col">&nbsp;</th>
                            <th class="numeric" scope="col">Amount outstanding</th>
                          </tr>
                        </thead>
                         <tr>
                            <td>&nbsp;</td>
                            <td class="numeric" scope="col">&pound;{{ session.debt_ammount | toPercentageValue(loop.length,loop.index) }}</td>
                          </tr>

                        </tbody>
                    </table>
                    <div class="appeal">
                    If you think this information is inaccurate contact the social fund for more information on 0345 6036967.
                    </div>
                </div>

            </details>

        </div>
        
      {% endif %}
      
      {% if thisDebt == 'esa' %}
        
        <div class="benefit_list js-benefit_list" id="esa-over">
            <div class="benefit_titles heading-medium">ESA</div>
            <div class="owed">Amount outstanding &pound;{{ session.debt_ammount | toPercentageValue(loop.length,loop.index) }}</div>
            
            <details>
                <summary class="benefit_expand">
                  <span>Expand</span>
                </summary>

                <div>
                    <table>
                        <thead>
                          <tr>
                            <th scope="col">Date(s)</th>
                            <th class="numeric" scope="col">Reason / Original debt</th>
                          </tr>
                        </thead>
                        <tbody>
                     
                          <tr>
                           <td>11/8/2012 – 3/3/2013</td>
                            <td class="numeric" scope="col">A child left household &pound;{{ session.debt_ammount | pct(20) }}</td>
                          </tr>
                          <thead>
                          <tr>
                            <th scope="col">&nbsp;</th>
                            <th class="numeric" scope="col">Amount outstanding</th>
                          </tr>
                        </thead>
                         <tr>
                            <td>&nbsp;</td>
                            <td class="numeric" scope="col">&pound;{{ session.debt_ammount | toPercentageValue(loop.length,loop.index) }}</td>
                          </tr>

                        </tbody>
                    </table>

                    <div class="appeal">
                    If you think this information is inaccurate visit the <a href="https://www.gov.uk/employment-support-allowance/overview">Employment and Support Allowance (ESA)</a> section for more information.
                    </div>
                </div>

            </details>
      </div>
        
      {% endif %}
      
      {% if thisDebt == 'jsa' %}
      
        <div class="benefit_list js-benefit_list">
            <div class="benefit_titles heading-medium">JSA</div>
            <div class="owed">Amount outstanding &pound;{{ session.debt_ammount | toPercentageValue(loop.length,loop.index) }}</div>
            
            <details>
                <summary class="benefit_expand">
                  <span>Expand</span>
                </summary>

                <div>
                    <table>
                        <thead>
                          <tr>
                            <th scope="col">Date(s)</th>
                            <th class="numeric" scope="col">Reason / Original debt</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>4/4/2012 – 10/8/2012</td>
                            <td class="numeric" scope="col">A child left household &pound;{{ session.debt_ammount | pct(70) }}</td>
                          </tr>
                          <thead>
                          <tr>
                            <th scope="col">&nbsp;</th>
                            <th class="numeric" scope="col">Amount outstanding</th>
                          </tr>
                        </thead>
                         <tr>
                            <td>&nbsp;</td>
                            <td class="numeric" scope="col">&pound;{{ session.debt_ammount | toPercentageValue(loop.length,loop.index) }}</td>
                          </tr>

                        </tbody>
                    </table>

                    <div class="appeal">
                    If you think this information is inaccurate visit the <a href="https://www.gov.uk/jobseekers-allowance">Jobseeker's Allowance</a> section for more information.
                    </div>
                </div>

            </details>
      </div>
        
      {% endif %}
      
      {% if thisDebt == 'is' %}

        <div class="benefit_list js-benefit_list" id="is-over">
            <div class="benefit_titles heading-medium">Income support </div>
            <div class="owed">Amount outstanding &pound;{{ session.debt_ammount | toPercentageValue(loop.length,loop.index) }}</div>
            
            <details>
                <summary class="benefit_expand">
                  <span>Expand</span>
                </summary>

                <div>
                    <table>
                        <thead>
                          <tr>
                            <th scope="col">Date(s)</th>
                            <th class="numeric" scope="col">Reason / Original debt</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                           <td>6/1/2008 – 5/5/2008</td>
                            <td class="numeric" scope="col">A change in the level of earnings &pound;{{ session.debt_ammount | pct(65) }}</td>
                          </tr>
                          <thead>
                          <tr>
                            <th scope="col">&nbsp;</th>
                            <th class="numeric" scope="col">Amount outstanding</th>
                          </tr>
                        </thead>
                         <tr>
                            <td>&nbsp;</td>
                            <td class="numeric" scope="col">&pound;{{ session.debt_ammount | toPercentageValue(loop.length,loop.index) }}</td>
                          </tr>

                        </tbody>
                    </table>
                    <div class="appeal">
                    If you think this information is inaccurate visit the <a href="https://www.gov.uk/income-support/overview">Income Support</a> section for more information.
                    </div>
                </div>

            </details>

           </div>

      {% endif %}
      
      {% if thisDebt == 'pip' %}
      
        <div class="benefit_list js-benefit_list" id="pip-over">
            <div class="benefit_titles heading-medium">PIP</div>
            <div class="owed">Amount outstanding &pound;{{ session.debt_ammount | toPercentageValue(loop.length,loop.index) }}</div>
            
            <details>
                <summary class="benefit_expand">
                  <span>Expand</span>
                </summary>

                <div>
                    <table>
                        <thead>
                          <tr>
                            <th scope="col">Date(s)</th>
                            <th class="numeric" scope="col">Reason / Original debt</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                           <td>6/1/2008 – 5/5/2008</td>
                            <td class="numeric" scope="col">A change in the level of earnings &pound;{{ session.debt_ammount | pct(55) }}</td>
                          </tr>
                          <thead>
                          <tr>
                            <th scope="col">&nbsp;</th>
                            <th class="numeric" scope="col">Amount outstanding</th>
                          </tr>
                        </thead>
                         <tr>
                            <td>&nbsp;</td>
                            <td class="numeric" scope="col">&pound;{{ session.debt_ammount | toPercentageValue(loop.length,loop.index) }}</td>
                          </tr>

                        </tbody>
                    </table>
                    <div class="appeal">
                    If you think this information is inaccurate visit the <a href="https://www.gov.uk/pip/overview">Personal Independence Payment (PIP)</a> section for more information.
                    </div>
                </div>

            </details>

        </div>
          
      {% endif %}

  {% endfor %}
  
  </div>
  {# / bene_foot #}
  
  <h2 class="heading-medium">Your current agreement</h2>
  <p>You're <span class="bold">currently repaying &pound;{{ session.payment_ammount }}</span> {{ session.payment_frequency }} from benefit.<br>You'll receive notification of any recent changes.
  <p>At this rate your debt will be <span class="bold">paid off by {{ session | calculateEndDate }}</span>.</p>

  <p>Would you like to <a href="reasons">change your payments?</a>    

  <form action="index" method="post">
    <fieldset class="primary-nav form-group">
    <legend class="visuallyhidden">Form Navigation</legend>
    <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </fieldset>
  </form>

{% endblock %} 