{% set page = {
  title: 'index',
  dev: true,
  secondary: false,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

  <div class="govuk-box-highlight">
    <h2 class="heading-large">Request approved
      <br />Your repayments will now be &pound;{{ session | getPaymentAmount }}</span><br /><br />
    </h2>
  </div>

  <h3 class="heading-medium">What's next</h3>
  <p>You'll get a letter in the next 10 days confirming your new repayment amount, and when.</p>
  <p>You don't need to do anything else.</p>

  <!--<form action="home" method="post">
    <fieldset class="primary-nav form-group">
      <legend class="visuallyhidden">Form Navigation</legend>
      <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </fieldset>
  </form>-->

{% endblock %}
