{% set page = {
  title: 'index',
  dev: true,
  secondary: false,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
<a href="javascript:history.back()" class="link-back">Back</a>

  <h1 class="heading-large">Do you want to increase or reduce your payments?</h1>

  <form action="change_payment" autocomplete="off" method="post">
    <fieldset class="">
      <legend class="visuallyhidden">Do you want to increase or reduce your payments?</legend>

      <div class="form-group">

        <label class="block-label" for="increase_input">
          <input id="increase_input" type="radio" name="change_choice" value="increase">
          Increase payments
        </label>

        <label class="block-label" data-target="reduce-reason" for="reduce_input">
          <input id="reduce_input" type="radio" name="change_choice" value="decrease">
          Reduce payments
        </label>
        
        <div class="panel panel-border-narrow js-hidden" id="reduce-reason">
          
          <h3 class="heading-small">What reasons do you have for reducing your payments</h3>
          <span class="hint">You may have to provide evidence of hardship or extreme circumstances.</span>
          
          <textarea class="form-control form-control-3-4 js-limit-characters" rows="7" id="text-area" name="text-area" data-limit="300" data-hint="Characters remaining"></textarea>

          <div class="panel panel-border-wide alert-default">
            <p>Reducing payments means it will take longer to clear your debt.</p>
          </div>
          
          <div class="panel panel-border-wide">
            <p class="money-ad">If you are having difficulties managing your money, <a href="http://www.moneyadviceservice.org.uk" target="_blank" rel="external">the Money Advice Service</a> can give you free and impartial advice.</p>
          </div>
        </div>

      </div>

    <fieldset class="primary-nav form-group">
      <legend class="visuallyhidden">Form Navigation</legend>
      <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </fieldset>
    
  </form>

{% endblock %}
