{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
<a href="javascript:history.back()" class="link-back">Back</a>

  <h1 class="heading-large">You're currently paying &pound;{{ 'payment_ammount' | getFromSession }} {{ 'payment_frequency' | getFromSession }}.</h1>

  <form action="reduce_finish" autocomplete="off" method="post" class="js-validate-form">
    <fieldset>

      <div class="form-group payment-adjust-field js-payment-adjust-field"
        data-payment-frequency="{{ 'payment_frequency' | getFromSession }}" 
        data-debt-ammount="{{ 'debt_ammount' | getFromSession }}" 
        data-min-ammount="{{ session | getMinimalAmmount }}" 
        data-max-ammount="{{ session.payment_ammount }}" 
        data-text-greaterthan="You have entered more than you are currently paying" 
        data-text-lessthan="You have entered less than the minimum ammount" 
        data-type-delay="700"
      >
        
        <label class="form-label-bold" for="payment_ammount">
          Enter new proposed decreased amount in (£)
          <span class="form-hint">Minimum {{ 'payment_frequency' | getFromSession }} amount &pound;{{ session | getMinimalAmmount }}.</span>
          <div><span class="payment-adjust-field__error error-message js-error-message js-hidden"></span></div>
        </label>
        
        <input class="form-control payment payment-adjust-field__ammount js-payment-adjust-field__ammount" name="payment_ammount" id="payment_ammount" type="text">
        
        <div class="date-change payment-adjust-field__prediction js-payment-adjust-field__prediction js-hidden">Based on the amount you entered your debt will be paid off by: <br> 
          <span style="font-weight: bold;" class="payment-adjust-field__prediction__date js-payment-adjust-field__prediction__date">{{ session | calculateEndDate }}</span>.
        </div>

      </div>

    </fieldset>

    <fieldset class="primary-nav form-group">
      <legend class="visuallyhidden">Form Navigation</legend>
      <input type="submit" value="Submit amount" class="button" id="submitButton-in" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </fieldset>
    
    <p>Did you want to <a href="reasons">increase your payments?</a></p>

  </form>

{% endblock %}
