{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

<div class="govuk-box-highlight">
  <h2 class="heading-large">Your request is being reviewed</h2><br />
</div>

<h3 class="heading-medium">What happens next</h3>

<p>You've asked for your payments to be reduced to &pound;{{ session.payment_amount }}.</p>

<p>You may get a phone call to discuss your request and be asked to give more information.</p>

<p>You'll get a letter within 10 days to tell you if your request has been accepted and how much you'll be paying back.</p>

<!--<form action="home" method="post">
      <fieldset class="primary-nav form-group">
                      <legend class="visuallyhidden">Form Navigation</legend>

                      <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </fieldset>
              </form>-->


{% endblock %}

{% block secondary %}
<!-- 1 Third Column -->
{% endblock %}
