{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
<a href="javascript:history.back()" class="link-back">Back</a>

<h1 class="heading-large">Review your request</h1>

<p>You've asked to increase your repayments to &pound;{{ 'payment_amount' | getFromSession }} {{ 'payment_frequency' | getFromSession }}.</p>
<p>If this is accepted, it will be deducted from your next benefit payment.<br />


          <form action="increase_finish" method="post">

        <fieldset class="primary-nav form-group">
          <legend class="visuallyhidden">Form Navigation</legend>
          <input type="submit" value="Send your request" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
          or <a href="increase_value">change the amount</a>
        </fieldset>





{% endblock %}

{% block secondary %}


<!-- 1 Third Column -->
{% endblock %}
