{% set page = {
  title: 'You’ve signed out of your account',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

<article class="content__body">

        <h1 class="heading-large top-title-heading"> You’ve signed out of your account </h1>

    <p>To use the service again you’ll need to <a href="/">sign in</a>.</p>

<hr>

<h2 class="heading-medium">Satisfaction survey</h2>

<fieldset class="feeback-block">

    <legend class="heading-small">
        How easy was it to use this service?
    </legend>

        <label for="easytouse-0" class="block-label">
            <input type="radio" id="easytouse-0" name="easytouse" value="0">
                 Very easy
        </label>

        <label for="easytouse-1" class="block-label">
            <input type="radio" id="easytouse-1" name="easytouse" value="1">
                 Easy
        </label>

        <label for="easytouse-2" class="block-label">
            <input type="radio" id="easytouse-2" name="easytouse" value="2">
                 Difficult
        </label>

        <label for="easytouse-3" class="block-label">
            <input type="radio" id="easytouse-3" name="easytouse" value="3">
                 Very difficult
        </label>

</fieldset>


<fieldset class="feeback-block">

    <legend class="heading-small">
        How did you use this service?
    </legend>

        <label for="useitbyyourself-0" class="block-label">
            <input type="radio" id="useitbyyourself-0" name="useitbyyourself" value="0">
                 On your own
        </label>

        <label for="useitbyyourself-1" class="block-label">
            <input type="radio" id="useitbyyourself-1" name="useitbyyourself" value="1">
                 With someone helping you
        </label>

        <label for="useitbyyourself-2" class="block-label">
            <input type="radio" id="useitbyyourself-2" name="useitbyyourself" value="2">
                 Someone else used it for you
        </label>

</fieldset>


<fieldset class="feeback-block">

    <legend class="heading-small">
        How likely would you be to use this service again?
    </legend>

        <label for="likelytouse-0" class="block-label">
            <input type="radio" id="likelytouse-0" name="likelytouse" value="0">
                 Very likely
        </label>

        <label for="likelytouse-1" class="block-label">
            <input type="radio" id="likelytouse-1" name="likelytouse" value="1">
                 Likely
        </label>

        <label for="likelytouse-2" class="block-label">
            <input type="radio" id="likelytouse-2" name="likelytouse" value="2">
                 Unlikely
        </label>

        <label for="likelytouse-3" class="block-label">
            <input type="radio" id="likelytouse-3" name="likelytouse" value="3">
                 Very unlikely
        </label>

</fieldset>

<br />
<br />

<fieldset class="feedback-block">

      <legend class="heading-small">How could we improve this service?</legend>

      <label for="improvement-comments"></label>
      <textarea name="improvement-comments" id="improvement-comments">
      </textarea>

      <p>Please don't include any personal or financial information.</p>

</fieldset>


<fieldset class="feeback-block">

    <legend class="heading-small">
        How has your understanding of what you owe changed?
    </legend>





        <label for="understanding-0" class="block-label">

            <input type="radio" id="understanding-0" name="understanding" value="0">

                 More understanding

        </label>



        <label for="understanding-1" class="block-label">

            <input type="radio" id="understanding-1" name="understanding" value="1">

                 Less understanding

        </label>



        <label for="understanding-2" class="block-label">

            <input type="radio" id="understanding-2" name="understanding" value="2">

                 Your understanding hasn't changed

        </label>


</fieldset>








<fieldset class="feeback-block">

    <legend class="heading-small">
        What are you most likely to do next?
    </legend>





        <label for="whatWillYouDoNext-0" class="block-label">

            <input type="radio" id="whatWillYouDoNext-0" name="whatWillYouDoNext" value="0">

                 Ask a financial advisor or a free advice service for help or information

        </label>



        <label for="whatWillYouDoNext-1" class="block-label">

            <input type="radio" id="whatWillYouDoNext-1" name="whatWillYouDoNext" value="1">

                 Ask DWP for help or information

        </label>







        <label for="whatWillYouDoNext-3" class="block-label">

            <input type="radio" id="whatWillYouDoNext-3" name="whatWillYouDoNext" value="3">

                 Ask friends and family for help

        </label>



        <label for="whatWillYouDoNext-4" class="block-label">

            <input type="radio" id="whatWillYouDoNext-4" name="whatWillYouDoNext" value="4">

                 Find out about money you owe to other people or companies

        </label>







        <label for="whatWillYouDoNext-7" class="block-label">

            <input type="radio" id="whatWillYouDoNext-7" name="whatWillYouDoNext" value="7">

                 Nothing

        </label>



        <label for="whatWillYouDoNext-8" class="block-label">

            <input type="radio" id="whatWillYouDoNext-8" name="whatWillYouDoNext" value="8">

                 Something else

        </label>


</fieldset>

















<fieldset class="inline feeback-block">

    <legend class="heading-small research">
        Would you like to take part in any future research to help us improve the service?
    </legend>





        <label for="research-0" class="block-label" data-target="contact-by-email" for="example-contact-by-email">

            <input type="radio" id="research-0" name="research" value="0">

                 Yes

        </label>



        <label for="research-1" class="block-label">

            <input type="radio" id="research-1" name="research" value="1">

                 No

        </label>


<div id="contact-by-email" class="panel panel-border-narrow  js-hidden">
      <label for="example-contact-by-email"  class="form-label ">

        Please give your email address</label>

      <input type="text" class="form-control" name="email" id="email" value="" maxlength="255">

</div>





</fieldset>












    <div class="heading-small">
        <input class="button" type="submit" value="Send">
    </div>

</form>



</article>

{% endblock %}

{% block secondary %}
<div class="related">


  </div>

<!-- 1 Third Column -->
{% endblock %}
