{% extends "layouts/version_index.html" %}

{% block version_details %}
  <p>Details of changes and things being tested in this iteration/version of the prototype</p>






  <h1 class="heading-medium">To explore the usefulness/usability of a potential online service.</h1>

<ul class="list list-contents">
     <li>What the "balance" means in the context of the prototype?</li>
     <li>Do they need any more information than (current/original balance, end date, how you are repaying us) to make a decision as to what to do next?</li>
     <li>Do they understand what the next steps could be?</li>
     <li>Do they understand what varying the amount means?</li>
     <li>Why would they vary the amount?</li>
     <li>What would they expect to happen next?- would they expect to be notified & how? what information they expect that notification to have?</li>
</ul>



<p>
	<a href="https://confluence.dwp.gov.uk/display/DDMS/User+Research+Alpha+Plan">Objectives</a>  |  <a href="">Results</a> 

	
</p>


{% endblock %}
