{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

<script>

var do_debtAmount = getCookie(cookieName);

var pct_10 = (do_debtAmount/10).toFixed(2);
var pct_20 = (do_debtAmount/5).toFixed(2);
var pct_30 = ((do_debtAmount/100)*30).toFixed(2);
var pct_40 = ((do_debtAmount/100)*40).toFixed(2);
var pct_50 = (do_debtAmount/2).toFixed(2);
var pct_60 = ((do_debtAmount/100)*60).toFixed(2);
var pct_70 = ((do_debtAmount/100)*70).toFixed(2);
var pct_80 = ((do_debtAmount/100)*80).toFixed(2);
var pct_90 = ((do_debtAmount/100)*90).toFixed(2);

/**alert (""+pct_10 + ", "+
  pct_20 + ", "+
  pct_30 + ", "+
  pct_40 + ", "+
  pct_50 + ", "+
  pct_60 + ", "+
  pct_70 + ", "+
  pct_80 + ", "+
  pct_90 + ", ");**/
</script>

<a href="javascript:history.back()" class="link-back">Back</a>




    <div class="debt-history">

       <h3 class="heading-large">Your £<script>document.write(getCookie(cookieName));</script> debt explained</h1></h3>

       <div class="bene_foot">
              <!-- ////////////// Social Fund ///////////// -->
              <div class="benefit_list">
                  <div class="benefit_titles heading-medium">Social Fund</div>
                  <div class="owed">Amount outstanding £<script>document.write(pct_30);</script></div>
                  
                  <details>
                      <summary class="benefit_expand">
                        <span>Expand</span>
                      </summary>

                      <div>
                          <table>
                              <thead>
                                <tr>
                                  <th scope="col">Date(s)</th>
                                  <th class="numeric" scope="col">Reason / Debt</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>2/3/2005 - Stockport (Heron house) Jobcenter Plus </td>
                                  <td class="numeric" scope="col">Lost wallet £<script>document.write(pct_10);</script></td>
                                </tr>
                                <tr>
                                 <td>29/10/2007 - Marple Jobcenter Plus</td>
                                  <td class="numeric" scope="col">Household appliances £<script>document.write(pct_20);</script></td>
                                </tr>
                                <thead>
                                <tr>
                                  <th scope="col">&nbsp;</th>
                                  <th class="numeric" scope="col">Amount outstanding</th>
                                </tr>
                              </thead>
                               <tr>
                                  <td>&nbsp;</td>
                                  <td class="numeric" scope="col">£<script>document.write(pct_30);</script></td>
                                </tr>

                              </tbody>
                          </table>
                          <div class="appeal">
                          If you think this information is inaccurate contact the social fund for more information on 0345 6036967.
                          </div>
                      </div>

                  </details>

              </div>

              <!-- ////////////// Income Support ///////////// -->
              <div class="benefit_list">
                  <div class="benefit_titles heading-medium">Income support </div>
                  <div class="owed">Amount outstanding £<script>document.write(pct_30);</script></div>
                  
                  <details>
                      <summary class="benefit_expand">
                        <span>Expand</span>
                      </summary>

                      <div>
                          <table>
                              <thead>
                                <tr>
                                  <th scope="col">Date(s)</th>
                                  <th class="numeric" scope="col">Reason / Debt</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1/10/2007 – 5/1/2008</td>
                                  <td class="numeric" scope="col">A change in the level of earnings £<script>document.write(pct_10);</script></td>
                                </tr>
                                <tr>
                                 <td>6/1/2008 – 5/5/2008</td>
                                  <td class="numeric" scope="col">A change in the level of earnings £<script>document.write(pct_20);</script></td>
                                </tr>
                                <thead>
                                <tr>
                                  <th scope="col">&nbsp;</th>
                                  <th class="numeric" scope="col">Amount outstanding</th>
                                </tr>
                              </thead>
                               <tr>
                                  <td>&nbsp;</td>
                                  <td class="numeric" scope="col">£<script>document.write(pct_30);</script></td>
                                </tr>

                              </tbody>
                          </table>
                          <div class="appeal">
                          If you think this information is inaccurate visit the <a href="https://www.gov.uk/contact-jobcentre-plus">Jobcentre Plus</a> section for more information.
                          </div>
                      </div>

                  </details>

                 </div>

              <!-- ////////////// JSA ///////////// -->
              <div class="benefit_list">
                  <div class="benefit_titles heading-medium">JSA</div>
                  <div class="owed">Amount outstanding £<script>document.write(pct_40);</script></div>
                  
                  <details>
                      <summary class="benefit_expand">
                        <span>Expand</span>
                      </summary>

                      <div>
                          <table>
                              <thead>
                                <tr>
                                  <th scope="col">Date(s)</th>
                                  <th class="numeric" scope="col">Reason / Debt</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>4/4/2012 – 10/8/2012</td>
                                  <td class="numeric" scope="col">A child left household £<script>document.write(pct_20);</script></td>
                                </tr>
                                <tr>
                                 <td>11/8/2012 – 3/3/2013</td>
                                  <td class="numeric" scope="col">A child left household £<script>document.write(pct_20);</script></td>
                                </tr>
                                <thead>
                                <tr>
                                  <th scope="col">&nbsp;</th>
                                  <th class="numeric" scope="col">Amount outstanding</th>
                                </tr>
                              </thead>
                               <tr>
                                  <td>&nbsp;</td>
                                  <td class="numeric" scope="col">£<script>document.write(pct_40);</script></td>
                                </tr>

                              </tbody>
                          </table>

                          <div class="appeal">
                          If you think this information is inaccurate visit the <a href="https://www.gov.uk/jobseekers-allowance">Jobseeker's Allowance</a> section for more information.
                          </div>
                      </div>

                  </details>
            </div>
    </div>



  <h2 class="heading-medium">Your current agreement</h2>
  <p>You're <span class="bold">currently repaying £<script>document.write(regularAmount);</script></span> from benefit.<br>Any recent changes may take up to 24hrs to be applied.
  <p>At this rate your debt will be <span class="bold">paid off by <script>ed()</script></span>.</p>

  <p>Would you like to <a href="reduce_reasons">change your payments</a>    






     <form action="index" method="post">
      <fieldset class="primary-nav form-group">
                      <legend class="visuallyhidden">Form Navigation</legend>

                      <input type="submit" value="Go to the debt homepage" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </fieldset>
              </form>







<!-- 
      <div class="bene_foot">
        <div class="benefit_list ">
            <div class="owed">Amount remaining £350</div>
              <div class="benefit_titles heading-medium">Incapacity benefit</div>

                <details>
                      <summary class="benefit_expand">
                        <span>Expand</span>
                      </summary>

                      <div class="">
                            <table>
                              <thead>
                                <tr>
                                  <th scope="col">Date range</th>
                                  <th class="numeric" scope="col">Orginal Debt</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  
                                  
                                  
                                </tr>
                                <tr>
                                  <td>1/2/2003 - 31/3/2003</td>
                                  <td class="numeric">£150</td>
                                </tr>
                                <tr>
                                 <td>10/5/2015 - 10/10/2015 </td>
                                  <td class="numeric">£200</td>
                                </tr>
                              </tbody>
                          </table>
                     
                         </div>
                 <div class="appeal">If you think this information is inaccurate visit the <a href="https://www.gov.uk/incapacity-benefit">Incapacity benefit</a> section on Gov.uk
                 </div>
              </details>




//////////////////////////// -->
<!-- 

        <div class="benefit_list">
            <div class="owed">Amount remaining £150</div>
            <div class="benefit_titles heading-medium">JSA</div>

            <details>
            <summary class="benefit_expand">
              <span>Expand</span>
            </summary>

            <div class="">
                  <table>
                    <thead>
                      <tr>
                        <th scope="col">Date range</th>
                        <th class="numeric" scope="col">Orginal Debt</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        
                        
                      </tr>
                      <tr>
                        <td>1/2/2003 - 31/3/2003</td>
                        <td class="numeric">£75</td>
                      </tr>
                      <tr>
                       <td>10/5/2015 - 10/10/2015 </td>
                        <td class="numeric">£75</td>
                      </tr>
                    </tbody>
                </table>
               
            </div>
       <div class="appeal">If you think this information is inaccurate visit the <a href="https://www.gov.uk/jobseekers-allowance/how-to-claim">Incapacity benefit</a> section on Gov.uk</div>
          </details>




<!-- /////////////////////// 



        <div class="benefit_list">
            <div class="owed">Amount remaining £200</div>
            <div class="benefit_titles heading-medium">Housing Benefit</div>

            <details>
            <summary class="benefit_expand">
              <span>Expand</span>
            </summary>

            <div class="">
                  <table>
                    <thead>
                      <tr>
                        <th scope="col">Date range</th>
                        <th class="numeric" scope="col">Orginal Debt</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        
                        
                      </tr>
                      <tr>
                        <td>1/2/2003 - 31/3/2003</td>
                        <td class="numeric">£150</td>
                      </tr>
                      <tr>
                       <td>10/5/2015 - 10/10/2015 </td>
                        <td class="numeric">£50</td>
                      </tr>
                    </tbody>
                </table>
               
            </div>
       <div class="appeal">If you think this information is inaccurate visit the <a href="https://www.gov.uk/housing-benefit/overview">Housing benefit</a> section on Gov.uk</div>
          </details>


-->









<!-- //////////////////////////// 
 <form action="index" method="post">

                   <fieldset class="primary-nav form-group">
                      <legend class="visuallyhidden">Form Navigation</legend>
                      <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </fieldset>
              </form>
-->

{% endblock %}



{% block secondary %}
<!-- 1 Third Column -->
{% endblock %}