{% extends "layouts/version_index.html" %}

{% block version_details %}
  <p>Details of changes and things being tested in this iteration/version of the prototype</p>






  <h1 class="heading-medium">To understand what information helps people to understand why they have debt (with DWP) and what does that information enable them to do. To understand how people provide information about their circumstances that could affect how much they can afford and understanding of the concept of changing the deduction amount in the context of an on-benefit repayment journey & whether people would use such service.</h1>


<h3 class="heading-small">Objectives of the Research</h3>
  <ul class="list list-bullet">
<li>To understand current behaviors and mental models around alternative to balance information – “your DWP debt”</li>
<li>Why would user need to change (reduce or increase) the amount?</li>
<li>To understand what kind of information would help people to understand why they have the debt in the first place?</li>
<li>What would they expect to happen next – once they have completed the online journey?</li>
</ul>


<h3 class="heading-xsmall">To keep testing/keep an eye on from previous rounds of testing</h3>
<ul class="list list-bullet">
<li>What the "your debt" means in the context of the prototype?</li>
<li>Why would they change the amount?</li>
<li>Amended end date after changing the deduction amount – does it play a part in people’s decision making towards the amount the fill in</li>
<li>Minimum payment amount – do people go for minimum amount? Why / why not?</li>
<li>How do people respond to debt breakdown info? Does it help them to understand why they have a debt? If not what would help/ if yes why is it helpful?</li>
<li>What would they expect to happen next –once they have submitted their request?</li>



</ul>

<h3 class="heading-xsmall">New things</h3>
<ul class="list list-bullet">
<li>How do people want to be shown their current repayment rate? (weekly, fortnightly, 4 weekly?)</li>
<li>Why/why not? How do they want to be presented with this information?</li>
<li>What information do people expect to find in the ‘What this debt is for section’</li>
<li>Do people want to provide both landline and mobile number</li>
<li>What do people think the service should be called?</li>
</ul>


<h3 class="heading-xsmall">Letter</h3>
<ul class="list list-bullet">
<li>Does the letter make sense?</li>
<li>What behavior does the letter drive for on benefit customers?</li>
</ul>






{% endblock %}
