{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
<a href="javascript:history.back()" class="link-back">Back</a>

  <h1 class="heading-xlarge">Loans, credit cards and other debt</h1>

  <p>Select as many as you have</p>
  <form>
    <div class="form-group">
      <fieldset>

      <legend class="visuallyhidden">Loans, credit cards and other debt</legend>

      <label class="block-label" data-target="credit-card" for="option-credit-card">
        <input id="option-credit-card" type="checkbox" name="checkbox-group" value="No">
        Credit cards
      </label>
      <div class="panel panel-border-narrow js-hidden" id="credit-card">
        <label class="form-label" for="credit-card-outstanding">Amount outstanding</label>
        <input class="form-control" name="credit-card-outstanding" type="text" id="credit-card-oustanding">
        <label class="form-label" for="credit-card-payment">Monthly payment</label>
        <input class="form-control" name="credit-card-payment" type="text" id="credit-card-payment">
      </div>


      <label class="block-label" data-target="bank-loan" for="option-bank-loan">
        <input id="option-bank-loan" type="checkbox" name="checkbox-group" value="No">
        Bank loan
      </label>
      <div class="panel panel-border-narrow js-hidden" id="bank-loan">
        <label class="form-label" for="bank-loan-outstanding">Amount outstanding</label>
        <input class="form-control" name="bank-loan-outstanding" type="text" id="bank-loan-outstanding">
        <label class="form-label" for="bank-loan-payment">Monthly payment</label>
        <input class="form-control" name="bank-loan-payment" type="text" id="bank-loan-payment">
      </div>

      <label class="block-label" data-target="something-else" for="option-something-else">
        <input id="option-something-else" type="checkbox" name="checkbox-group" value="No">
        Something else
      </label>
      <div class="panel panel-border-narrow js-hidden" id="something-else">
        <label class="form-label" for="something-else-describe">Describe what the debt or loan is for</label>
        <input class="form-control" name="something-else-describe" type="text" id="something-else-describe">
        <label class="form-label" for="bank-loan-outstanding">Amount outstanding</label>
        <input class="form-control" name="bank-loan-outstanding" type="text" id="bank-loan-outstanding">
        <label class="form-label" for="bank-loan-payment">Monthly payment</label>
        <input class="form-control" name="bank-loan-payment" type="text" id="bank-loan-payment">
      </div>




    </fieldset>
    </div>
  </form>












    <!--<fieldset>
      <legend class="visuallyhidden">These details will only be used if we need more information.</legend>
      <div class="form-group">
        <label class="form-label" for="mobile">Preferred telephone number</label>
        <input class="form-control" name="mobile" type="text" id="mobile">
        <p></p>
        <label class="form-label" for="email-address">Email address</label>
        <input class="form-control" name="email-address" type="text" id="email-address">
      </div>
    </fieldset>-->

    <!--<fieldset class="primary-nav form-group">
      <legend class="visuallyhidden">Form Navigation</legend>
      <input type="submit" value="Send request" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    </fieldset>-->
    <a class="button" href="hardship-living">Continue</a>




{% endblock %}

{% block secondary %}


<!-- 1 Third Column -->
{% endblock %}
