{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

<!-- 3 Third Column -->
<h1 class="heading-xlarge">Benefits you're paying back</h1>
<!--<h2 class="heading-medium">Summary</h2>-->
<div class="govuk-box-highlight">
  <h2 class="bold-medium">Total you need to repay</h2>
  <br>
  <div class="total-amount">£500<!--<script>document.write(getCookie(cookieName));</script>--></div>
  <!--<p class="form-lable-bold">
    At the current rate your debt will be <br>
    <span class="heading-medium">paid off by <script>ed()</script>
    </span>
  </p>-->
</div>

<h3 class="heading-medium">Paying back now</h3>
  <table>
    <thead>
      <tr>
        <th>Benefit</th>
        <th>Amount</th>
        <th>Final repayment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td>Income Support</td>
        <td>&pound;35 every 2 weeks</td>
        <td>7 March 2017</td>
      </tr>
    </tbody>
  </table>
  <br />

  <div class="panel panel-border-narrow">
    <h4 class="heading-small">Why you're repaying this money</h3>
    <p>You started working on 10 June 2016. This means you're entitled to less Income Support.</p>
    <p>You didn't report the change until 29 September 2016, which means you were paid £350 too much. Your benefit has been reduced to pay this back.</p>
  </div>

  <!-- <details>

    <summary><span class="summary">Why you're repaying this money</span></summary>

    <div class="panel panel-border-narrow">
      <p>You started working on 10 June 2016. This means you're entitled to less Income Support.</p>

      <p>You didn't report the change until 29 September 2016, which means you were paid £350 too much. Your benefit has been reduced to pay this back.</p>
    </div>

  </details> -->

<br /><br />
  <h4 class="heading-small">Paying back later</h3>
    <table>
      <thead>
        <tr>
          <th>Benefit</th>
          <th>What you owe</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Carers Allowance</td>
          <td>&pound;150</td>
        </tr>
        <tr>
          <td>Employment and Support Allowance</td>
          <td>&pound;80</td>
        </tr>
        <tr>
          <td>Personal Independence Payment</td>
          <td>&pound;200</td>
        </tr>
      </tbody>
    </table>



  <!--<h3 class="heading-medium">Why you're getting less</h3>
  <p>You started working on 10 June 2016. This means you're entitled to less Income Support.</p>
  <p>You didn't report the change until 29 September 2016, which means you've been paid too much. Your benefit has been reduced to pay this back.</p>
  <a class="button" href="change-your-payments">Change your repayments</a>-->

<!--<p>You're <span class="bold">currently repaying £<script>document.write(parseFloat(regularAmmount).toFixed(2) + " " + getCookie(paymentIntervalCookieName));</script> </span>from benefit.</br>This money is taken directly from your main benefit payment.<br>
<a href="reasons">Change your payments</a>.
</p>

<p>View your <a href="debt_overview1">debt in detail</a>.</p>-->

<!--<div class="panel panel-border-wide alert-default">
      <p class="font-xsmall">On Monday the 5 September you decreased your weekly payments from £10 to £9. This reduction is awaiting approval.</p>
      <p class="font-xsmall">Reductions in payments can take up to XX working days to process.</p>
    </div>-->
<br /><br />

<div>
   <a class="button" href="change-your-payments">Change your repayments</a>
</div>



{% endblock %}

{% block secondary %}
<!-- 1 Third Column -->
{% endblock %}
