{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
<a href="javascript:history.back()" class="link-back">Back</a>

<!-- 3 Third Column -->
<h1 class="heading-xlarge">Can you afford to repay £X every 2 weeks?</h1>

<form>
  <div class="form-group">
    <fieldset class="inline">

      <legend class="visually-hidden">Can you afford to repay £X every 2 weeks?</legend>

      <label class="block-label" for="radio-inline-1">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        Yes
      </label>
      <label class="block-label" for="radio-inline-2">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        No
      </label>

    </fieldset>
  </div>
</form>

<!--<div class="chart-block">
  <div class="graph-title">You'll have paid this money back by 20 March 2017.</div>
  <div class="graph">
    <li>
      <div class="amount" style="width: 56%;"></div><div class="complete-date">20 March 2017</div>
    </li>
  </div>
</div>-->

<a class="button" href="phone-us">Continue</a>

<!--<p>You're <span class="bold">currently repaying £<script>document.write(parseFloat(regularAmmount).toFixed(2) + " " + getCookie(paymentIntervalCookieName));</script> </span>from benefit.</br>This money is taken directly from your main benefit payment.<br>
<a href="reasons">Change your payments</a>.
</p>

<p>View your <a href="debt_overview1">debt in detail</a>.</p>-->

<!--<div class="panel panel-border-wide alert-default">
      <p class="font-xsmall">On Monday the 5 September you decreased your weekly payments from £10 to £9. This reduction is awaiting approval.</p>
      <p class="font-xsmall">Reductions in payments can take up to XX working days to process.</p>
    </div>-->






{% endblock %}

{% block secondary %}
<!-- 1 Third Column -->
{% endblock %}
