{% set version_cta = prototype.current.path + 'start_session' %}
{% set appServiceName = 'Manage Your Benefits Repayments' %}

{% extends "layouts/version_index.html" %}

{% block version_details %}
  <p>Details of changes and things being tested in this iteration/version of the prototype</p>
  <h1 class="heading-medium">To understand current behaviour around balance information and understanding of the concept of changing the deduction amount in the context of an on-benefit repayment journey & whether people would use such service.</h1>
  <p><a href="https://confluence.dwp.gov.uk/display/DDMS/User+Research+Alpha+Plan">Objectives</a>  |  <a href="">Results</a> </p>
{% endblock %}
