{% extends "layouts/dwp_layout.html" %}

{% block body_start %}
  {{ super() }}
{% endblock %}

{% block body_end %}
  {{ super() }}

  <script>
////////////////////////////////////////////
  $(document).ready(function () {
      $('span').each(function () {
        if ($(this).attr('data-start')) {
          $(this).html($(this).attr('data-start'));
        }
      });
  });
    $(document).on('keyup', '#text-area', function () {
      var span = $(this).parents('.form-group').find('.form-hint span');
      var start = $(this).parents('.form-group').find('.form-hint span').attr('data-start');
      remaning = start - $(this).val().length;
      span.html(remaning);
    });
///////////////////////////////
    $(document).on('keyup', '#value-adjust-1', function () {
      var that = $(this)[0];
      if(that.value > minRepaymentAmmount){
          var months = Math.ceil(totalDebt / that.value)
          var endDate = new Date();
          endDate.setMonth(endDate.getMonth() + months);
          
          $('#payed-by').css('font-weight','bold');
          $('#payed-by').html("1 " + endDate.toLocaleString(locale, { month: "long" }) + " " + endDate.getUTCFullYear());
          $('#paid-off').addClass('date-change');
      }
    });
    $(document).on('click', '#submitButton-rv', function () {
      var that = $('#value-adjust-1')[0];
      if(that.value < minRepaymentAmmount){
        $('#paid-off').removeClass('date-change');
        $('#reduce-error').addClass('border-error');
        return false;
      }
    });
    
///////////////////////////////////
</script>
{% endblock %}