{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
  
<div class="govuk-box-highlight">
  <h2 class="bold-large">Request sent</h2>
  <br>
  <p>Your request to change you payments to £20 is being processed</p>
</div>

<h3 class="heading-medium">What's next</h3>
<p>Any increase in payments will be automatically processed. Reductions will be assessed and you will be contacted within 24 hours.</p>

<form action="index" method="post">
      <fieldset class="primary-nav form-group">
                      <legend class="visuallyhidden">Form Navigation</legend>
                      <h3 class="heading-medium">Would you like to do something else?</h3>
                      <input type="submit" value="Go to the debt homepage" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </fieldset>
              </form>


{% endblock %}

{% block secondary %}
<!-- 1 Third Column -->
{% endblock %}