{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
<a href="index" class="link-back">Back</a>

  <h1 class="heading-large">How often do you get your benefits?</h1>

            <form action="reduce_value" method="post">
                <fieldset class="form-group">

		          <legend class="visuallyhidden">How often do you get your benefits?</legend>

		          <label class="block-label" for="benefit1">
		            <input id="benefit1" type="radio" name="benefits" value="weekly">
		            Weekly
		          </label>

		          <label class="block-label" for="benefit2">
		            <input id="benefit2" type="radio" name="benefits" value="fortnightly">
		            Fortnightly
		          </label>

					<label class="block-label" for="benefit3">
		            <input id="benefit3" type="radio" name="benefits" value="four-weekly">
		            4 weekly
		          </label>

				<label class="block-label" for="benefit4">
		            <input id="benefit4" type="radio" name="benefits" value="monthly">
		            Monthly
		          </label>


		        </fieldset>

                </fieldset>

                   <fieldset class="primary-nav form-group">
                      <legend class="visuallyhidden">Form Navigation</legend>
                      <input type="submit" value="Continue" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </fieldset>
              </form>






{% endblock %}

{% block secondary %}
<!-- 1 Third Column -->
{% endblock %}