{% set version_cta = prototype.current.path + 'start_session' %}
{% extends "layouts/version_index.html" %}

{% block version_details %}
  <h1 class="heading-medium">Things we wanted to learn about:</h1>
  <ul class="list list-bullet">
    <li>what people would do if they got a letter that told them they had to go online to get the detail</li>
    <li>how displaying benefits would help people understand the overpayment, and what they would do next</li>
    <li>how specific we need to be about why an overpayment has occurred</li>
    <li>can people sign into the service using the access code in the letter</li>
    <li>can people understand how they'd be updated about their request (to change repayments)</li>
    <li>whether people would sign up for an account after initial sign-out, and if so, why</li>
  </ul>
{% endblock %}
