{% import "macros/elements_forms.html" as elements_forms %}

{% extends "layouts/layout.html" %}

{% block page_title %}
  {{ (page.title + ' &ndash; ') | safe if page.title }}{{ serviceName }}
{% endblock %}

{% block body_classes %}{% if page.body_classes %}{% for class in page.body_classes %}{{ class }}{% if not loop.last and loop.length > 1 %} {% endif %}{% endfor %}{% endif %} {{ prototype.current.body_class }}{% endblock %}



{% block content %}
<script type="text/javascript">
var cookieName  ='debt-ammount',
    regularAmmountCookieName = 'regular-ammount',
    locale = "en-gb",
    defaultRegularAmmount = '48.10',
    paymentIntervalCookieName = "boo",
    overpaymentBenefits = "overpaid-benefits";

var regularAmmount = defaultRegularAmmount;

if (getCookie(regularAmmountCookieName) !== ''){
 regularAmmount = getCookie(regularAmmountCookieName)
}

var totalOutstanding = getCookie(cookieName);

function ed(){

  var d = edBalls();
  document.write("1 " + d.toLocaleString(locale, { month: "long" }) + " " + d.getUTCFullYear());
}

function edBalls(){

  var d;

  var pInt = getCookie(paymentIntervalCookieName);

  if(pInt === "weekly"){
    d = calculateEndDateWeekley(totalOutstanding, regularAmmount);
  }else if(pInt === "fortnightly"){
    d = calculateEndDateFortnightley(totalOutstanding, regularAmmount);
  }else if(pInt === "four-weekly"){
    d = calculateEndDateFourWeekley(totalOutstanding, regularAmmount);
  }else if(pInt === "monthly"){
    d = calculateEndDateMonths(totalOutstanding, regularAmmount);
  }else{
    d = calculateEndDateMonths(totalOutstanding, regularAmmount);
  }

  return d;
}



function minAmount(){

  var pInt = getCookie(paymentIntervalCookieName);
  var minAmmountForInterval = 99999999;

  if(pInt === "weekly"){
   
    minAmmountForInterval = 3.70;
  }else if(pInt === "fortnightly"){
  
    minAmmountForInterval = 7.40;
  }else if(pInt === "four-weekly"){
  
    minAmmountForInterval = 14.80;
  }else if(pInt === "monthly"){
   
    minAmmountForInterval = 16.03;
  }



  return minAmmountForInterval;
}

function calculateEndDateMonths(ammountTotal, ammountRepay){

      var months = Math.ceil(ammountTotal / ammountRepay)
      var endDate = new Date();
      endDate.setMonth(endDate.getMonth() + months);

      return endDate;
    }

    function calculateEndDateWeekley(ammountTotal, ammountRepay){

      var weeks = Math.ceil(ammountTotal / ammountRepay)
      var endDate = new Date();
      endDate.setDate(weeks * 7);

      return endDate;
    }

    function calculateEndDateFortnightley(ammountTotal, ammountRepay){

     var fortnights = Math.ceil(ammountTotal / ammountRepay)
      var endDate = new Date();
      endDate.setDate(fortnights * 14);

      return endDate;
    }

    function calculateEndDateFourWeekley(ammountTotal, ammountRepay){

      var fourWeeks = Math.ceil(ammountTotal / ammountRepay)
      var endDate = new Date();
      endDate.setDate(fourWeeks * 28);

      return endDate;
    }


  function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

</script>
  <main id="content"{{ (' class="' + page.contentClasses + '"') | safe if page.contentClasses }}>  
     {% include "includes/phase_banner_alpha.html" %}  
    {% block main %}
      {% block prepend_main %}{% endblock %}
      <div class="grid-row">
        
        {% block __primary__ %}
          <div class="column-{{ page.primary.col | d('two-thirds') }}">
            {% block primary %}{% endblock %}
          </div>
        {% endblock %}
        
        {% block __secondary__ %}
          {% if page.secondary %}
          <div class="column-{{ page.secondary.col | d('one-third') }}">
            {% block secondary %}  
            {% endblock %}
          </div>
          {% endif %}
        {% endblock %}
      
      </div>
      {% block append_main %}{% endblock %}
    {% endblock %}
  </main>
{% endblock %}

{% block body_end %}
  {{ super() }}
  {% if page.dev %}
    {{ (serviceName + " context data: ") | log(true) }}
    {{ __locals__ | log }}
  {% endif %}

  <script>
////////////////////////////////////////////

  $(document).ready(function () {
      $('span').each(function () {
        if ($(this).attr('data-start')) {
          $(this).html($(this).attr('data-start'));
        }
      });
  });

    $(document).on('keyup', '#text-area', function () {
      var span = $(this).parents('.form-group').find('.form-hint span');
      var start = $(this).parents('.form-group').find('.form-hint span').attr('data-start');
      remaning = start - $(this).val().length;
      span.html(remaning);
    });

///////////////////////////////


    $(document).on('keyup', '#value-adjust-1', function () {
      var that = $(this)[0];
      if(that.value > minRepaymentAmmount){

          regularAmmount = that.value;
         
          var endDate = edBalls();

          $('#payed-by').css('font-weight','bold');
          $('#payed-by').html("1 " + endDate.toLocaleString(locale, { month: "long" }) + " " + endDate.getUTCFullYear());
          $('#paid-off').addClass('date-change');
      } else 
      {
        $('#paid-off').removeClass('date-change');
      }
    });

    $(document).on('keyup', '#value-adjust-2', function () {
      var that = $(this)[0];
      if(that.value > regularAmmount){

          regularAmmount = that.value;
         
          var endDate = edBalls();

          $('#payed-by').css('font-weight','bold');
          $('#payed-by').html("1 " + endDate.toLocaleString(locale, { month: "long" }) + " " + endDate.getUTCFullYear());
          $('#paid-off').addClass('date-change');
      } else 
      {
        $('#paid-off').removeClass('date-change');
      }
    });

    $(document).on('click', '#submitButton-rv', function () {
      var that = $('#value-adjust-1')[0];
      if(that.value < minAmount()){
        $('#paid-off').removeClass('date-change');
        $('#reduce-error').addClass('border-error');
        return false;
      } else{
        setCookie(regularAmmountCookieName, $('#value-adjust-1')[0].value, 30);
      }
    });

    $(document).on('click', '#submitButton-in', function () {
      var that = $('#value-adjust-2')[0];
      if(that.value < regularAmmount){
        $('#paid-off').removeClass('date-change');
        $('#reduce-error').addClass('border-error');
        return false;
      } else{
        setCookie(regularAmmountCookieName, $('#value-adjust-2')[0].value, 30);
      }
    });
    
////////////
  
$(document).on('click', '#ho_submitButton', function () {
  var that = $("input[name='benefits']:checked")[0];
  setCookie(paymentIntervalCookieName, that.value, 30);
});

$(document).on('click','#Start-Submit',function(e){
  var $overpaidBenefitInputs = $('.js-benefit-overpaid:checked'),
      overpaidBenefits = '';
  if(!! $overpaidBenefitInputs.length) {
    $overpaidBenefitInputs.each(function(index,elm){
      overpaidBenefits += $(this).val() + ((index + 1) < $overpaidBenefitInputs.length ? ',' : '');
    });
  }
  setCookie(cookieName, (!! $('#Debt-Start').val() ? $('#Debt-Start').val() : 0), 30);
  setCookie(paymentIntervalCookieName, $("input[name='frequency']:checked").val(), 30);
  setCookie(overpaymentBenefits, overpaidBenefits, 30);
});

$(document).on('click','#Start-Reset',function(){
  setCookie(cookieName, 300, 30);
  setCookie(regularAmmountCookieName, defaultRegularAmmount, 30);
  setCookie(paymentIntervalCookieName, "monthly", 30);
  setCookie(overpaymentBenefits, '', 30);
});

function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  var expires = "expires="+d.toUTCString();
  document.cookie = cname + "=" + cvalue + "; " + expires;
}

function checkCookie() {
    var user = getCookie("username");
    if (user != "") {
        alert("Welcome again " + user);
    } else {
        user = prompt("Please enter your name:", "");
        if (user != "" && user != null) {
            setCookie("username", user, 365);
        }
    }
}

</script>
{% endblock %}